body {
  font-size: 15px;
}

/* TYPOGRAPHY */
p, ul, ol {
  margin: 0 0 1em 0;
}

ul ol, ul ul, ol ol, ol ul {
  margin: 0;
}

/* HEADER */
header {
  border-bottom: 1px solid #cccccc;
}

/* CONTENT */
section {
  margin: 1em 0;
}

code {
  background: #ededed;
  border: 1px solid #cccccc;
  display: block;
  padding: 10px 20px;
}

/* GRID */
#grid [class*="grid-"] p {
  background: #ededed;
  border: 1px solid #888888;
  color: #333333;
  font-size: 0.8em;
  padding: 10px;
  margin-bottom: 10px;
  text-align: center;
}
#grid p.noStyle {
  border: none;
  background: none;
  color: #333333;
  font-size: 16px;
  padding: 0;
  text-align: left;
}
#grid [class*="pull-"] p {
  background: lightpink;
}
#grid [class*="push-"] p {
  background: lightgreen;
}

/* FOOTER */
footer {
  border-top: 1px solid #cccccc;
  min-height: 65px;
  margin-top: 30px;
  padding: 1em 0;
}
footer h2 {
  font-size: 1em;
}
footer p,
footer blockquote,
footer article,
footer section {
  font-size: 0.8em;
}
footer a {
  color: #999999;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
footer a:hover {
  color: white;
}
footer a:visited {
  color: #999999;
}

/*  Custom Media Queries  */
.mobile span {
  display: none;
}

@media screen and (min-width: 320px) and (max-width: 520px) {
  .mobile {
    position: relative;
  }
  .mobile span {
    background: #ededed;
    cursor: pointer;
    display: block;
    font-family: "Open Sans", sans-serif;
    font-size: 1em;
    padding: 1em 0;
    text-indent: 10px;
  }
  .mobile .menuIcon {
    background: #cccccc;
    display: block;
    font-size: 1.8em;
    height: 35px;
    padding: 0;
    position: absolute;
    text-indent: 3px;
    top: 5px;
    right: 5px;
    width: 35px;
  }
  .mobile ul {
    display: none;
    width: 100%;
  }
  .mobile ul li {
    display: block;
    width: 100%;
  }
  .mobile ul li a {
    padding: 1em 0;
    text-indent: 20px;
    width: 100%;
  }
  .mobile.down span.menuIcon {
    background: #cccccc;
    box-shadow: inset 0 0 10px #555555;
  }
}
