/* TABS */
.tabsBottom > li {
  border: 1px solid transparent;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: -1px;
}

.tabsBottom > li:first-child {
  margin-left: 0;
}

.tabsBottom > li > a {
  display: block;
  padding: 6px 18px;
}

.tabs > li > a:hover,
.tabsBottom > li > a:hover {
  background: #ededed;
}

.tabs > .active,
.tabsBottom > .active {
  border: none;
}

.tabs > .active > a,
.tabs > .active > a:hover {
  background: #FFF;
  color: #555;
  border: 1px solid #CCC;
  border-bottom-color: transparent;
  text-decoration: none;
}

/*  TABS BOTTOM */
.tabsBottom {
  border-top: 1px solid #ccc;
}

.tabsBottom > li {
  border: 1px solid transparent;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: -1px;
}

.tabsBottom > li:first-child {
  margin-left: 0;
}

.tabsBottom > .active {
  border: none;
}

.tabsBottom > li > a {
  display: block;
  padding: 6px 18px;
}

.tabsBottom > .active > a,
.tabsBottom > .active > a:hover {
  background: #FFF;
  color: #555;
  border: 1px solid #CCC;
  border-top-color: transparent;
  text-decoration: none;
}

/*  TABS STACKED */
.tabsStacked {
  margin: 0;
  padding: 0;
}

.tabsStacked > li {
  float: none;
  list-style: none;
  margin: 0;
  margin-bottom: -1px;
  padding: 0;
  width: 100%;
}

.tabsStacked > li > a {
  background: #FFF;
  border: 1px solid #CCC;
  display: block;
  padding: 4px 0;
  text-indent: 10px;
}

.tabsStacked > li > a:hover {
  background: #EDEDED;
}

.tabsStacked > .active > a {
  color: #555;
}

.tabsStacked > .active > a:hover {
  background: #FFF;
}

/* TYPOGRAPHY */
p, ul, ol {
  margin: 10px 0;
}

ul ul,
ol ol,
ul ol,
ol ul {
  margin: 0;
}

/* NAV */
/* CONTENT */
section {
  margin: 10px 0;
}

/* FOOTER */
footer {
  background: black;
  min-height: 50px;
  margin-top: 30px;
  padding: 20px 0 10px 0;
}
footer h2 {
  color: white;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}
footer p,
footer blockquote,
footer article,
footer section {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
footer a {
  color: white;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
footer a:hover {
  color: #999999;
}
footer a:visited {
  color: white;
}

/* ================================================
    Custom Media Queries
================================================== */
