body {
  font-size: 15px;
}

h1 {
  margin-top: 0;
}

header {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
header section {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 15px;
  position: relative;
  width: 100%;
}

section {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
section article {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 15px;
  position: relative;
  width: 60%;
}
section aside {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 15px;
  position: relative;
  width: 40%;
}

footer {
  width: 1280px;
  margin-left: auto;
  margin-right: auto;
}
footer article {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  padding: 0 15px;
  position: relative;
  width: 40%;
  font-size: 1.2em;
}
footer article.second {
  left: 40%;
}
