<div class="ctn-grid-24">
  <h3>Push the Grid</h3>
</div>

<section class="calculate clearfix">  

  <div class="ctn-grid-6"></div>
  <div class="clear"></div>
  
  <div class="ctn-grid-6 ctn-push-6"></div>
  <div class="clear"></div>
  
  <div class="ctn-grid-6 ctn-push-12"></div>
  <div class="clear"></div>
  
  <div class="ctn-grid-6 ctn-push-18"></div>
  <div class="clear"></div>

</section>


<div class="ctn-grid-24">
  <h3>Push and Pull the Grid</h3>
</div>

<section class="calculate clearfix">  

  <div class="ctn-grid-6 ctn-push-6"></div>  
  <div class="ctn-grid-6 ctn-pull-6"></div>
  <div class="ctn-grid-6 ctn-push-6"></div>
  <div class="ctn-grid-6 ctn-pull-6"></div>

</section>