<div class="ctn-grid-24">
  <h2>Nested Grids</h2>
  <p>_____</p>
</div>


<div class="ctn-grid-24">
  <h3>Push the Grid</h3>
</div>

<section class="calculate clearfix">  

  <div class="ctn-grid-6"></div>
  <div class="clear"></div>
  
  <div class="ctn-grid-6 push-6"></div>
  <div class="clear"></div>
  
  <div class="ctn-grid-6 push-12"></div>
  <div class="clear"></div>
  
  <div class="ctn-grid-6 push-18"></div>
  <div class="clear"></div>

</section>


<div class="ctn-grid-24">
  <h3>Push and Pull the Grid</h3>
</div>

<section class="calculate clearfix">  

  <div class="ctn-grid-6 push-6"></div>  
  <div class="ctn-grid-6 pull-6"></div>
  <div class="ctn-grid-6 push-6"></div>
  <div class="ctn-grid-6 pull-6"></div>

</section>