# Project
release
centurion-framework.zip
*.gem

### Node ###
# Logs
logs
*.log
.grunt
node_modules

### OSX ###
.DS_Store
.AppleDouble
.LSOverride
Icon
._*
.Spotlight-V100
.Trashes

### Windows ###
Thumbs.db
ehthumbs.db
Desktop.ini

### Misc Files ###
compass_app_log.txt
_reinstate/*
*.scssc
*.sassc
dist
styleguide
