/* Dark Blue */
.dark-blue {
  color: #0934B2;
  background-color: rgba(9,52,178,1);
}

/* Light Blue */
.lightblue {
  color: #3367FF;
  background-color: rgba(51,103,255,1);
}

/* Blue */
.blue {
  color: #1A54FF;
  background-color: rgba(26,84,255,1);
}

/* Rust */
.rust {
  color: #CC6400;
  background-color: rgba(204,100,0,1);
}

/* Dark Gold */
.dark-gold {
  color: #B28100;
  background-color: rgba(178,129,0,1);
}

/* Gold */
.gold {
  color: #FFBF1A;
  background-color: rgba(255,191,26,1);
}
