/* ==================================   
 *
 * Centurion v.3.5 - Alpha Release
 * 
 ================================= */


@import "core/config"
@import "core/colors"
@import "core/badges"
@import "core/callouts"
@import "core/grid"
@import "core/typography"

@import "core/normalize"

// Clearfix
%clearfix
  &:before,
  &:after
    content: " "
    display: table
  &:after
    clear: both

.clearfix,
.cf
  @extend %clearfix

.clear
  clear: both


    
@include color-swatches
    
    
    
    
// Visible and Show/Hide Classes
.visible
  visibility: display
.not-visible
  /* Hides an element from view but displaces content */
  visibility: hidden

.show-element,
.show-desktop
  display: block !important

.hide-element,
.hide-desktop
  display: none !important
  

.section-headline
  @extend %clearfix
  border-bottom: 1px solid #DDD
  padding-bottom: 0.35em

.section-break
  @extend %clearfix
  border-bottom: 3px solid #DDD
  margin: 2em 0
  width: 100%
  

/* For Example Grid elements */
span.box-grid
  background-color: #DEDEDE
  border: 1px solid #EFEFEF
  @include box-sizing(border-box)
  display: block
  font-family: helevtica neue, sans-serif
  font-size: 0.8em
  font-weight: 200
  margin-top: 1em
  padding-top: 2em
  padding-bottom: 2em
  text-align: center
  width: 100%
  

/* Show Nested Elements - Demo */
[class^="grid-"]
  [class^="grid-"]
    
    &:first-of-type
      .box-grid
        background: hotpink
    
    &:last-of-type
      .box-grid
        background: aqua
    
    [class^="grid-"]
      
      &:first-child
        .box-grid
          background: aqua


// IE Fallback - Script Required - Demo 
.first
  .box-grid
    background: hotpink
.last
  .box-grid
    background: aqua



      
      
/* Main Page Fixes */
a
  color: $orange
  &:hover
    color: $black

header
  background: $light-grey
  border-bottom: 1px solid $grey
    
nav
  ul
    margin: 0
    padding: 0
    li
      display: inline-block
      list-style: none
      margin: 0
      padding: 0
      
      a
        color: $black
        display: block
        padding: 1em
        text-decoration: none
        
        &:hover,
        &.nav-current
          background: $orange
          color: $black
    
footer
  background: $light-grey
  border-top: 1px solid $grey
  margin-top: 1em

.lfloat
  float: left
.rfloat
  float: right
.frame
  border: 1px solid $light-grey
  margin: 0 1.2em 1.2em 0
  padding: 0.5em

pre
  background: #444
  border: 1px solid #444
  color: #FFF
  font-size: 0.9em
  line-height: 1
  padding: 0.8em 0
