<!DOCTYPE HTML>
<html>
<head>
	<title>
	  <!-- build:changeText Grid --><!-- /build -->
    | <%= site_title %> 
    | A CSS Web Framework
  </title>


  <!-- build:include ../partials/_layout-top.html --><!-- /build -->


</head>
<body>

  <!-- build:include ../partials/_header.html --><!-- /build -->
	
	<section id="page-content" class="clearfix">
		<div class="ctn-container">
		  <div class="post">
        
        <article class="post-content">
        <!-- content -->

<!-- build:include ../partials/_grid/_general-grid.html --><!-- /build -->

<!-- build:include ../partials/_grid/_nested-grid.html --><!-- /build -->

<!-- build:include ../partials/_grid/_center-grid.html --><!-- /build -->

<!-- build:include ../partials/_grid/_push-pull-grid.html --><!-- /build -->

        </article>
		  </div>
		</div>

		<div class="ctn-container ctn-container-full">
		  <div class="post">
        
        <article class="post-content">
        <!-- content -->
        
<!-- build:include ../partials/_grid/_full-width-grid.html --><!-- /build -->
  

<!-- build:include ../partials/_layout-bottom.html --><!-- /build -->
