@import "alerts";					// alert boxes
@import "breadcrumbs";		// breadcrumbs
@import "buttons";				// buttons
@import "colors";					// colors
@import "dropdowns";			// dropdown menus
@import "forms";					// forms
@import "grid";						// fixed, fluid and responsive
@import "images"; 				// responsive images & sprites
@import "navigation";			// navigation
@import "pagination";			// pagination
@import "panels";					// panels
@import "print";					// print
@import "progressbars";		// progress bars
@import "tables";					// tables
@import "tabs";						// tabs
@import "typography";			// basic typography & headings

// Center a sized element
@mixin auto-center {
  margin-left: auto;
  margin-right: auto;
}

// Float - Left
// @include left(10px);
@mixin left($dist:10px) {
  float: left;
  margin-left: $dist;
}
@mixin float-left {
  float: left;
}
@mixin float-right {
  float: right;
}
