@import "buttons"; // sizes and options

@import "colors"; // gradients, color values, text colors
@import "forms"; // input fields
@import "grid"; // grid system

@import "images"; // sprites, responsive
@import "navigation"; // sidebar, dropdown, list menu, mobile menu

@import "print"; // only included for print stylesheet

@import "breadcrumbs";
@import "panels";
@import "tables";
@import "typography"; // lists, blockquotes, captions, text, fonts
@import "various";
@import "images";


// Center a sized element
@mixin auto-center {
  margin-left: auto;
  margin-right: auto;
}

// Float - Left
// @include left(10px);
@mixin left($dist:10px) {
  float: left;
  margin-left: $dist;
}
@mixin float-left {
  float: left;
}
@mixin float-right {
  float: right;
}