@import "alerts"
@import "breadcrumbs"
@import "buttons"
@import "colors"
@import "clearfix"
@import "dropdowns"
@import "forms"
@import "grid"
@import "images"
@import "navigation"
@import "pagination"
@import "panels"
@import "print"
@import "progressbars"
@import "tables"
@import "tabs"
@import "typography"

// Center a sized element
@mixin auto-center
  margin-left: auto
  margin-right: auto


// Float - Left
// @include left(10px)
@mixin left($dist:10px)
  float: left
  margin-left: $dist

@mixin float-left
  float: left

@mixin float-right
  float: right
