 @import "compass/css3/border-radius";

// Breacrumbs
@mixin breadcrumbs {
  ul {
  &.cCrumbs {
    display: block;
    background: #F9F9F9;
    padding: 7px 10px;
    border: 1px solid #DDD;
    border-radius: 2px;
    overflow: hidden;
    li {
      margin: 0;
      padding: 0 10px 0 0;
      display: inline-block;
      a,
      span {
        text-transform: uppercase;
        font-size: 12px;
        padding-right: 10px;
      }
      &:after {
        content: ">";
        color: #ccc;
      }
      &:last-child:after {
        content: "";
      }
    }
  }
}
}

