// Navigation - for desktop
@mixin navigation-full
  @extend %float-left
  font-size: $default-font-size
  margin-bottom: 10px
  width: 100%
  ul
    @extend %show-block
    @extend %float-left
    @extend %noMarPad
    li
      display: inline
      @extend %float-left
      @extend %noMarPad
      @extend %relative
      a
        color: $white
        @extend %float-left
        margin: 0
        padding: 15px 20px
        @extend %noTextDecoration
        &:hover,
        &:visited
          background: $white
          color: #000
        &.on 
          background: $white
          color: #000

  
@mixin navigation-slim($border: #CCC, $link: #333, $hover: #999)
  nav
    @extend %float-left
    font-size: $default-font-size
    margin-bottom: 10px
    width: 100%
    ul
      @extend %show-block
      @extend %float-left
      @extend %noMarPad
      li
        display: inline
        @extend %float-left
        @extend %noMarPad
        @extend %relative
        a
          color: $link
          @extend %float-left
          margin: 0
          padding: 15px 20px
          @extend %noTextDecoration
          &:hover,
          &:visited
            background: $border
            color: #000
          &.on
            background: $border
            color: #000
    // nav stacked
    &.stacked
      width: 100%
      ul
        float: none
        li
          border-bottom: 1px solid $lightgrey
          width: 100%
          
          a
            padding: $dh-padding
            text-indent: ($default-font-size)+0.5
            width: 100%
            &:hover
              background: #EDEDED

// Navigation - for mobile
@mixin navigation-mobile

  nav.mobile
    border: none
    ul
      @extend %hide-block
      width: 100%

      &.show
        @extend %show-block

      li
        @extend %show-block
        float: none
        padding: 0
        width: 100%
        a
          @extend %show-block
          float: none
          padding: 10px 0
          text-indent: 10px 
          width: 100%

    span
      &.openMenu
        border: 1px solid #ededed
        padding: 10px 0
        text-indent: 10px
        width: 100%
