@import "compass/typography/text/";


// font-family
$text-font: 'Open Sans', sans-serif;
$heading-font: 'Open Sans', sans-serif;
//$heading-font: 'Open Sans Condensed', sans-serif;

// font sizes
$text-size: 15px;

$h1-size: ($text-size)+14;
$h2-size: ($text-size)+8;
$h3-size: ($text-size)+5;
$h-size: ($text-size)+3;


// basic setup for fonts
$line-height: 1.5;


// DEFAULT MIXINS
// @include default-heading($text-color, $h1-size);
@mixin default-heading($color, $size) {
  color: $color;
  display: block;
  font-family: $heading-font;
  font-size: $size;
  line-height: $line-height;
}

// Headings
// @include heading(size, margin);
@mixin heading($size, $margin-height, $color: $text-color) {
  @include default-heading($color, $size);
  font-weight: bold;
  margin: $margin-height 0;
}

// @include header-headings(size, #color);
@mixin header-headings($size, $color) {
  @include default-heading($color, $size);
  font-weight: normal;
  margin: 10px 0;
}

// Default links
// @include links(#color, #hover-color);
@mixin links($change-link-color: $link-color, $change-hover-color: $link-hover-color) {
  a {
    color: $change-link-color;
    @include force-wrap;
    &:hover { color: $change-hover-color; }
    &:visited { color: $change-link-color; }
  }
}


// Text
// @include text($text-color);
@mixin text($color: $text-color, $size: $text-size) {
  color: $color;
  font-family: $text-font;
  font-size: $size;
  line-height: $line-height;
}


// Lists
// @include default-list;
@mixin default-list {
  ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    font-family: $text-font;
    color: $text-color;
  }
  ul li {
    font-size: $text-size;
    list-style: circle;
    margin-left: 20px;
  }
}


@mixin typography($color: $text-color) {
  h1 {
    @include heading($h1-size, 10px, $color);
  }
  h2 {
    @include heading($h2-size, 10px, $color);
  }
  h3 {
    @include heading($h3-size, 10px, $color);
  }
  h4, h5, h6 {
    @include heading($h-size, 10px, $color);
  } 
  p,
  blockquote,
  article,
  section {
    @include text($color);
  }
  @include links;
  @include default-list;
}



