<header>
  <div class="container">
    <div class="grid-24">
      
      <h1><%= site_title %> <small>(<%= version %></small>)</h1>
      <nav id="main" class="mobile">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="grid.html">Grid</a></li>
          <li><a href="features.html">Features</a></li>
          <li><a href="components.html">Components</a></li>
        </ul>
      </nav>
      
    </div>
  </div>
</header>



<section id="banner" class="home">
  <div class="container">
    <div class="grid-24">
      
      <h1><!-- $banner-title --></h1>
      
    </div>
  </div>
</section>