<meta name="description" content="@@metaDescription">

<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>

<link rel="shortcut icon" href="img/favicon.jpg" />
<link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="72x72" href="img/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="img/apple-touch-icon-114x114.png" />

<!-- <link rel="stylesheet" href="css/reset.css" /> -->
<!-- Centurion Framework -->
<link rel="stylesheet" href="css/centurion.css" />
<!-- End of Framework -->

<!--[if lt IE 9]><script src="js/modernizr-2.6.2-custom-min.js"></script><![endif]-->