<header>
  <div class="container">
    <div class="grid-24">
      
      <h1>Centurion Framework</h1>
      <nav id="main" class="mobile">
        <ul>
          <li><a href="index.html">Home</a></li>
          <li><a href="about.html">About</a></li>
          <li><a href="fluid.html">Fluid</a></li>
          <li><a href="grid.html">Grid</a></li>
          <li><a href="semantic.html">Semantic</a></li>
          <li><a href="_tables.html">Tables</a></li>
        </ul>
      </nav>
      
    </div>
  </div>
</header>