<script type="text/javascript">
  $(document).ready(function(){
    
    htmlStructure = '<div class="box"></div><span class="color"></span><span class="hex"></span><span class="rgb"></span>';
    
    $('#colors div[data-color]').append(htmlStructure);

    $('#colors div[data-color]').after('<div class="clear"></div>');  
    $('#colors div[data-color]').each(function(){
      
      data = $(this).attr('data-color');
      cClass = 'text-' + data;
      bkColorClass = 'back-' + data;
      
      $(this).find('.box').addClass(bkColorClass);
      
      // Grab background color value for current item - returns RGB
      cVal = $(this).find('.box').css('backgroundColor');

      //Convert HEX to RGB
      var rgbValue = cVal;
      var parts = rgbValue.match(/^rgb\((\d+),\s*(\d+),\s*(\d+)\)$/);
      delete (parts[0]);
      for (var i = 1; i <= 3; ++i) {
          parts[i] = parseInt(parts[i]).toString(16);
          if (parts[i].length == 1) parts[i] = '0' + parts[i];
      } 
      var hexValue ='#'+parts.join('').toUpperCase();

      // Return HTMl to page      
      $(this).find('.color').addClass(cClass).html(data);
      $(this).find('.hex').addClass(cClass).html(hexValue);
      $(this).find('.rgb').addClass(cClass).html(rgbValue);
      
    });
    
  });
</script>