<script type="text/javascript">
  $(document).ready(function(){
  
    $('.calculate [class*="grid-"]').append('<p><span class="pixels"></span><br /><span class="percentage"></span></p>')
    
    function gridCalculate() {
      $('.calculate [class*="grid-"]').each(function(){
        var el = $(this);
        var width = el.innerWidth()-30 + 'px';
        var gridClass = $(this).attr('class').split('grid-').join('').split(' ')[0];
        el.find('span.pixels').html(width);
        el.find('span.percentage').html(gridClass + '%');
      });

      $('.calculate [class*="grid-"] [class*="grid-"]').each(function(){
        var el = $(this);
        var width = el.find('p').outerWidth() + 'px';
        var gridClass = $(this).attr('class').split('grid-').join('').split(' ')[0];
        el.find('span.pixels').html(width);
        el.find('span.percentage').html(gridClass + '%');
      });   
    }
    width = $(document).width();
    
    $(function() {
        gridCalculate($(this).width());
        $(window).resize(function() {
          gridCalculate($(this).width());
        });
    });

  });  
</script>