<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

<link rel="shortcut icon" href="graphics/favicon.jpg" />
<link rel="apple-touch-icon" href="graphics/apple-touch-icon.png" />
<link rel="apple-touch-icon" sizes="72x72" href="graphics/apple-touch-icon-72x72.png" />
<link rel="apple-touch-icon" sizes="114x114" href="graphics/apple-touch-icon-114x114.png" />

<!-- CENTURION -->
<link rel='stylesheet' href='css/reset.css'>
<link rel='stylesheet' href='css/centurion.css'>
<link rel='stylesheet' href='css/elusive-webfont.css'>
<!-- end of CENTURION -->


<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,700,600,800,300' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=Text+Me+One' rel='stylesheet' type='text/css'>

<link rel='stylesheet' href='css/demo.css'>

<!--[if (lt IE 9) & (!IEMobile)]>
<link rel="stylesheet" href="css/centurion-ie.css" />
<![endif]-->

