/* -------------------------------------------------------
	
  Colors
	
  Centurion Framework v.2.2
	
  Created by:  Justin Hough
  Documentation:  http://www.justinhough.com/centurion
	
-------------------------------------------------------- */


/* Text Selection
--------------------------------- */
::selection {
  background: #f5f7f9; /* Safari */
  color:#333;
}
::-moz-selection {
  background: #f5f7f9; /* Firefox */
  color:#333;
}


/* ================================================
		WRAPPER
================================================== */
#wrapper {
  background-color: rgba(255, 255, 255, 1);
}
body {
  color: #333;
}


/* ================================================
		NAVIGATION
================================================== */
nav {
  background: #F4F4F4;
  border: 1px solid #ccc;
}
nav ul li {
  color: #333;
}
nav ul li a,
nav ul li a:visited {
  color: #333;
}
nav ul li a:hover {
  background: #C5C5C5;
  color:#000;
  text-decoration: none;
}
nav ul li a.on,
nav ul li a.active {
  background: #FFF;
  color:#000;
  text-decoration: none;
}


/* ================================================
		FOOTER
================================================== */
footer { 
  background:#000; 
}


/* ================================================
		IMAGES
================================================== */
img.rfloat.frame,
img.lfloat.frame,
img.frame {
  background: #fff;	
  border:1px solid #ccc;
}
img.shadow {
  -moz-box-shadow: 2px 2px 5px #999;
  -webkit-box-shadow: 2px 2px 5px #999;
  -o-box-shadow: 2px 2px 5px #999;
  box-shadow: 2px 2px 5px #999;
}

/* ================================================
		TEXT
================================================== */

/* Headings
--------------------------------- */
header big {
  color: #333;
}
header small {
  color: #ededed;
}

h1 {
  color: #333;
}
h2 {
  color: #555; /* Grey */
}
h3 {
  color: #999; /* Lightgrey */
}


/* Captions
--------------------------------- */
.caption {
  color:#999;
}

/* Footer
--------------------------------- */
footer h1,
footer h2,
footer h3 { color: #fff; }
footer p { color:#fff; }

/* Links
--------------------------------- */
a, a:visited {
  color: #1E5799;
}
a:hover {
  color: #2989D8;
}
