/* ================================================
    Features
================================================== */
/* Buttons
-------------------------------------------------- */
.button {
  border: none;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  background-image: -webkit-linear-gradient(#7d7e7d, #0e0e0e);
  background-image: -moz-linear-gradient(#7d7e7d, #0e0e0e);
  background-image: -o-linear-gradient(#7d7e7d, #0e0e0e);
  background-image: -ms-linear-gradient(#7d7e7d, #0e0e0e);
  background-image: linear-gradient(#7d7e7d, #0e0e0e);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 5px 0;
  outline: 0;
  padding: 10px 22px;
  text-decoration: none;
  vertical-align: middle;
  zoom: 1;
}

.button:hover,
.button:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzliOWI5YiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9b9b9b), color-stop(100%, #3d3d3d));
  background-image: -webkit-linear-gradient(#9b9b9b, #3d3d3d);
  background-image: -moz-linear-gradient(#9b9b9b, #3d3d3d);
  background-image: -o-linear-gradient(#9b9b9b, #3d3d3d);
  background-image: -ms-linear-gradient(#9b9b9b, #3d3d3d);
  background-image: linear-gradient(#9b9b9b, #3d3d3d);
}

/* Button - Grey */
.button.grey {
  color: #555555;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #e5e5e5));
  background-image: -webkit-linear-gradient(#ffffff, #e5e5e5);
  background-image: -moz-linear-gradient(#ffffff, #e5e5e5);
  background-image: -o-linear-gradient(#ffffff, #e5e5e5);
  background-image: -ms-linear-gradient(#ffffff, #e5e5e5);
  background-image: linear-gradient(#ffffff, #e5e5e5);
}

.button.grey:hover,
.button.grey:active {
  color: #555555;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2I3YjdiNyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #b7b7b7));
  background-image: -webkit-linear-gradient(#ffffff, #b7b7b7);
  background-image: -moz-linear-gradient(#ffffff, #b7b7b7);
  background-image: -o-linear-gradient(#ffffff, #b7b7b7);
  background-image: -ms-linear-gradient(#ffffff, #b7b7b7);
  background-image: linear-gradient(#ffffff, #b7b7b7);
}

/* Button - Blue */
.button.blue {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3Y2ZkZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzIzNTM4YSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7cfdf), color-stop(100%, #23538a));
  background-image: -webkit-linear-gradient(#a7cfdf, #23538a);
  background-image: -moz-linear-gradient(#a7cfdf, #23538a);
  background-image: -o-linear-gradient(#a7cfdf, #23538a);
  background-image: -ms-linear-gradient(#a7cfdf, #23538a);
  background-image: linear-gradient(#a7cfdf, #23538a);
}

.button.blue:hover,
.button.blue:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E3Y2ZkZiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNDA4OSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a7cfdf), color-stop(100%, #004089));
  background-image: -webkit-linear-gradient(#a7cfdf, #004089);
  background-image: -moz-linear-gradient(#a7cfdf, #004089);
  background-image: -o-linear-gradient(#a7cfdf, #004089);
  background-image: -ms-linear-gradient(#a7cfdf, #004089);
  background-image: linear-gradient(#a7cfdf, #004089);
}

/* Button - Red */
.button.red {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzAxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2NmMDQwNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
  background-image: -webkit-linear-gradient(#ff3019, #cf0404);
  background-image: -moz-linear-gradient(#ff3019, #cf0404);
  background-image: -o-linear-gradient(#ff3019, #cf0404);
  background-image: -ms-linear-gradient(#ff3019, #cf0404);
  background-image: linear-gradient(#ff3019, #cf0404);
}

.button.red:hover,
.button.red:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmMzgxOSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2FhMDMwMyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff3819), color-stop(100%, #aa0303));
  background-image: -webkit-linear-gradient(#ff3819, #aa0303);
  background-image: -moz-linear-gradient(#ff3819, #aa0303);
  background-image: -o-linear-gradient(#ff3819, #aa0303);
  background-image: -ms-linear-gradient(#ff3819, #aa0303);
  background-image: linear-gradient(#ff3819, #aa0303);
}

/* Button - Yellow */
.button.yellow {
  color: #555555;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZWQ2MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZlYmYwNCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fced62), color-stop(100%, #febf04));
  background-image: -webkit-linear-gradient(#fced62, #febf04);
  background-image: -moz-linear-gradient(#fced62, #febf04);
  background-image: -o-linear-gradient(#fced62, #febf04);
  background-image: -ms-linear-gradient(#fced62, #febf04);
  background-image: linear-gradient(#fced62, #febf04);
}

.button.yellow:hover,
.button.yellow:active {
  color: #555555;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZWQ2MiIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYWEwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fced62), color-stop(100%, #ffaa00));
  background-image: -webkit-linear-gradient(#fced62, #ffaa00);
  background-image: -moz-linear-gradient(#fced62, #ffaa00);
  background-image: -o-linear-gradient(#fced62, #ffaa00);
  background-image: -ms-linear-gradient(#fced62, #ffaa00);
  background-image: linear-gradient(#fced62, #ffaa00);
}

/* Button - Orange */
.button.orange {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTg0YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmN2IwZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa84c), color-stop(100%, #ff7b0d));
  background-image: -webkit-linear-gradient(#ffa84c, #ff7b0d);
  background-image: -moz-linear-gradient(#ffa84c, #ff7b0d);
  background-image: -o-linear-gradient(#ffa84c, #ff7b0d);
  background-image: -ms-linear-gradient(#ffa84c, #ff7b0d);
  background-image: linear-gradient(#ffa84c, #ff7b0d);
}

.button.orange:hover,
.button.orange:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYTg0YyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjNjAwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffa84c), color-stop(100%, #fc6000));
  background-image: -webkit-linear-gradient(#ffa84c, #fc6000);
  background-image: -moz-linear-gradient(#ffa84c, #fc6000);
  background-image: -o-linear-gradient(#ffa84c, #fc6000);
  background-image: -ms-linear-gradient(#ffa84c, #fc6000);
  background-image: linear-gradient(#ffa84c, #fc6000);
}

/* Button - Green */
.button.green {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0YjM1NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzc1ODkwYyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a4b357), color-stop(100%, #75890c));
  background-image: -webkit-linear-gradient(#a4b357, #75890c);
  background-image: -moz-linear-gradient(#a4b357, #75890c);
  background-image: -o-linear-gradient(#a4b357, #75890c);
  background-image: -ms-linear-gradient(#a4b357, #75890c);
  background-image: linear-gradient(#a4b357, #75890c);
}

.button.green:hover,
.button.green:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2E0YjM1NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzViN2EwMCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #a4b357), color-stop(100%, #5b7a00));
  background-image: -webkit-linear-gradient(#a4b357, #5b7a00);
  background-image: -moz-linear-gradient(#a4b357, #5b7a00);
  background-image: -o-linear-gradient(#a4b357, #5b7a00);
  background-image: -ms-linear-gradient(#a4b357, #5b7a00);
  background-image: linear-gradient(#a4b357, #5b7a00);
}

/* Different Button Sizes */
.button.small {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  font-size: 13px;
  padding: 8px 18px;
}

.button.large {
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  -ms-border-radius: 6px / 6px;
  -o-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 28px;
}

/* Full Width Buttons  - Needs work on this implementation for the grid system */
.button.full {
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* Link reset for underline and color */
a.button {
  color: white;
  text-decoration: none;
}

/* Images
-------------------------------------------------- */
img.rfloat {
  float: right;
  margin: 0 0 15px 15px;
}

img.lfloat {
  float: left;
  margin: 0 15px 15px 0;
}

img.rfloat.frame,
img.lfloat.frame,
img.frame {
  padding: 5px;
}

/* Panels
-------------------------------------------------- */
.cPanel {
  padding: 20px 20px 20px 20px;
  background: #efefef;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
  margin: 0 0 20px 0;
}
.cPanel h1,
.cPanel h2,
.cPanel h3 {
  margin-top: 0;
}

/*  BREADCRUMBS
-------------------------------------------------- */
ul.ctCrumbs {
  display: block;
  background: #F4F4F4;
  padding: 7px 10px;
  border: 1px solid #DDD;
  border-radius: 2px;
  overflow: hidden;
}
ul.ctCrumbs li {
  margin: 0;
  padding: 0 10px 0 0;
  display: inline-block;
}
ul.ctCrumbs li a,
ul.ctCrumbs li span {
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 10px;
}
ul.ctCrumbs li:after {
  content: ">";
  color: #ccc;
}
ul.ctCrumbs li:last-child:after {
  content: "";
}

.lAlign {
  float: left;
}

/*  Tables
-------------------------------------------------- */
/* Tables
-------------------------------------------------- */
table {
  background: #FFF;
  border-collapse: collapse;
  border-spacing: 0;
  color: #333;
  margin: 15px 0;
  width: 100%;
}
table thead,
table tfoot {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
table thead tr th,
table thead tr td,
table tfoot tr th,
table tfoot tr td {
  background-color: #999;
  color: #FFF;
  font-weight: bold;
  padding: 5px 10px;
}
table tbody tr,
table tbody td {
  padding: 5px 10px;
}
table thead {
  padding: 3px 10px;
  text-align: left;
}
table tbody {
  padding: 3px 10px;
  text-align: left;
}
table tbody tr.odd {
  background-color: #FFF;
  /* Class added by simple table script */
}
table tbody tr.even {
  background-color: #ededed;
  /* Class added by simple table script */
}
table.ctOrange thead tr th,
table.ctOrange thead tr td,
table.ctOrange tfoot tr th,
table.ctOrange tfoot tr td {
  background-color: #fb9d23;
}
table.ctOrange tbody tr.odd {
  background-color: white;
}
table.ctOrange tbody tr.even {
  background-color: #fceabb;
}
table.ctBlue thead tr th, table.ctBlue thead tr td, table.ctBlue tfoot tr th, table.ctBlue tfoot tr td {
  background-color: #356aa0;
}
table.ctBlue tbody tr.odd {
  background-color: white;
}
table.ctBlue tbody tr.even {
  background-color: #deefff;
}
table.ctYellow thead tr th, table.ctYellow thead tr td, table.ctYellow tfoot tr th, table.ctYellow tfoot tr td {
  background-color: #f8b500;
}
table.ctYellow tbody tr.odd {
  background-color: white;
}
table.ctYellow tbody tr.even {
  background-color: #fcefcf;
}
table.ctRed thead tr th, table.ctRed thead tr td, table.ctRed tfoot tr th, table.ctRed tfoot tr td {
  background-color: #cc0000;
}
table.ctRed tbody tr.odd {
  background-color: white;
}
table.ctRed tbody tr.even {
  background-color: #ffcece;
}
table.ctGreen thead tr th, table.ctGreen thead tr td, table.ctGreen tfoot tr th, table.ctGreen tfoot tr td {
  background-color: #299a0b;
}
table.ctGreen tbody tr.odd {
  background-color: white;
}
table.ctGreen tbody tr.even {
  background-color: #dde8c7;
}
table.ctBlack thead tr th, table.ctBlack thead tr td, table.ctBlack tfoot tr th, table.ctBlack tfoot tr td {
  background-color: black;
}
table.ctBlack tbody tr.odd {
  background-color: white;
}
table.ctBlack tbody tr.even {
  background-color: #dbdbdb;
}
table.rounded thead th:first-child {
  -moz-border-radius-topleft: 6px;
  -webkit-border-top-left-radius: 6px;
  -ms-border-top-left-radius: 6px;
  -o-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}
table.rounded thead th:last-child {
  -moz-border-radius-topright: 6px;
  -webkit-border-top-right-radius: 6px;
  -ms-border-top-right-radius: 6px;
  -o-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
table.rounded tfoot th:first-child {
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  -ms-border-bottom-left-radius: 6px;
  -o-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
table.rounded tfoot th:last-child {
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  -ms-border-bottom-right-radius: 6px;
  -o-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

/* Navigation
----------------------------------------------- */
nav {
  border: 1px solid #ededed;
  float: left;
  font-size: 15px;
  margin-bottom: 10px;
  width: 100%;
}
nav ul {
  float: left;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
nav ul li a {
  color: #333333;
  float: left;
  margin: 0;
  padding: 15px 20px;
  text-decoration: none;
}
nav ul li a:hover {
  background: #ededed;
  color: #000;
}
nav ul li a.on {
  background: #ededed;
  color: #000;
}
