/* -------------------------------------------------------
	
  Text
	
  Centurion Framework v.2.2
	
  Created by:  Justin Hough
  Documentation:  http://www.justinhough.com/centurion
	
-------------------------------------------------------- */

/* ================================================
		BASIC HTML
================================================== */

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 1.5;
}

pre,
code {
  font-family: 'DejaVu Sans Mono', Monaco, Consolas, monospace;
}

hr {
  border: 0 #ccc solid;
  border-top-width: 1px;
  clear: both;
  height: 0;
}

.center { text-align: center; }

footer { font-size: 12px; }

a, a:visited {
  text-decoration: underline;
}
a:hover {
  text-decoration: underline;
}

/* ================================================
		HEADINGS
================================================== */

h1 {
  font-size: 30px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 16px;
}

/* ================================================
		SPACING
================================================== */

ol {
  list-style: decimal;
}

ul {
  list-style: disc;
}

li {
  margin-left: 30px;
}

p,
dl,
hr,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
table,
address,
fieldset,
figure {
  margin-bottom: 10px;
}

/* ================================================
		LARGER or SMALLER HEADINGS
================================================== */

h1 big {
	font-size: 1.5em;
}
h1 small {
	font-size: .5em;
	display:block;
}
h2 big {
	font-size: 1.5em;
}
h2 small {
	font-size: .5em;
	display:block;
}

/* ================================================
		CAPTIONS
================================================== */
.caption {
	font-weight: bold;
	font-size: .9em;
	margin-top: 5px;
}