h1 {
  color: #555555;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  color: #555555;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}

h3 {
  color: #555555;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}

h4, h5, h6 {
  color: #555555;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}

p,
blockquote,
article,
section {
  color: #555555;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

a {
  color: #ffa84c;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
a:hover {
  color: black;
}
a:visited {
  color: #ffa84c;
}

ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  color: #555555;
}

ul li {
  font-size: 15px;
  list-style: circle;
  margin-left: 20px;
}
