/* -------------------------------------------------------
	
  Various Styles
  
  Panels, breadcrumbs, tables, and etc.
	
  Centurion Framework v.2.2
	
  Created by:  Justin Hough
  Documentation:  http://www.justinhough.com/centurion
	
-------------------------------------------------------- */

/*  --------------------------------------------------
  :: Panels
  -------------------------------------------------- */
.ctPanel {
  padding: 20px 20px 2px 20px;
  background: #efefef;
  box-shadow: 0 2px 5px rgba(0,0,0,0.15);
  margin: 0 0 20px 0;
}

/*  --------------------------------------------------
  :: BREADCRUMBS
  -------------------------------------------------- */
ul.ctCrumbs {
  display: block;
  background: #F4F4F4;
  padding: 7px 10px;
  border: 1px solid #DDD;
  border-radius: 2px;
  overflow: hidden;
}
ul.ctCrumbs li {
  margin: 0;
  padding: 0 10px 0 0;
  display: inline-block;
}
ul.ctCrumbs li a,  ul.ctCrumbs li span {
  text-transform: uppercase;
  font-size: 12px;
  padding-right: 10px;
}
ul.ctCrumbs li:after {
  content: ">";
  color: #ccc;
}
ul.ctCrumbs li:last-child:after {
  content: "";
}
/*  --------------------------------------------------
  :: 
  -------------------------------------------------- */

.lAlign {
  float: left;
}
/*	--------------------------------------------------
	:: Tables
	-------------------------------------------------- */
table {
  background: #FFF;
  border-collapse: collapse;
  border-spacing: 0;
  color: #333;
  margin: 15px 0;
  width: 100%;
}
table thead,  table tbody,  table tfoot {
  font-size: 16px;
  line-height: 1.5;
  text-align: left;
}
table thead tr th,  table tfoot tr th,  table tfoot tr td {
  background-color: #999;
  color: #FFF;
  font-weight: bold;
  padding: 5px 10px;
}
table tbody tr td,  table tr td {
  padding: 5px 10px;
}
table thead {
  padding: 3px 10px;
  text-align: left;
}
table tbody {
  padding: 3px 10px;
  text-align: left;
}
table tbody tr.odd {
  background-color: #FFF; /* Class added by simple table script */
}
table tbody tr.even {
  background-color: #ededed; /* Class added by simple table script */
}
/*	--------------------------------------------------
	:: Tables - Color Choices
	-------------------------------------------------- */

/*    table.ctOrange {}*/
table.ctOrange thead tr th,  table.ctOrange tfoot tr th,  table.ctOrange tfoot tr td {
  background-color: #FB9D23;
}
table.ctOrange tbody tr.odd {
  background-color: #FFF;
}
table.ctOrange tbody tr.even {
  background-color: #FCEABB;
}
/*    table.ctBlue {}*/
table.ctBlue thead tr th,  table.ctBlue tfoot tr th,  table.ctBlue tfoot tr td {
  background-color: #356AA0;
}
table.ctBlue tbody tr.odd {
  background-color: #FFF;
}
table.ctBlue tbody tr.even {
  background-color: #DEEFFF;
}
/*    table.ctYellow {}*/
table.ctYellow thead tr th,  table.ctYellow tfoot tr th,  table.ctYellow tfoot tr td {
  background-color: #F8B500;
}
table.ctYellow tbody tr.odd {
  background-color: #FFF;
}
table.ctYellow tbody tr.even {
  background-color: #FCEFCF;
}
/*    table.ctRed {}*/
table.ctRed thead tr th,  table.ctRed tfoot tr th,  table.ctRed tfoot tr td {
  background-color: #CC0000;
}
table.ctRed tbody tr.odd {
  background-color: #FFF;
}
table.ctRed tbody tr.even {
  background-color: #FFCECE;
}
/*    table.ctGreen {}*/
table.ctGreen thead tr th,  table.ctGreen tfoot tr th,  table.ctGreen tfoot tr td {
  background-color: #299A0B;
}
table.ctGreen tbody tr.odd {
  background-color: #FFF;
}
table.ctGreen tbody tr.even {
  background-color: #DDE8C7;
}
/*    table.ctBlack {}*/
table.ctBlack thead tr th,  table.ctBlack tfoot tr th,  table.ctBlack tfoot tr td {
  background-color: #000;
}
table.ctBlack tbody tr.odd {
  background-color: #FFF;
}
table.ctBlack tbody tr.even {
  background-color: #DBDBDB;
}
/*	--------------------------------------------------
	:: Tables - Additional Styles
	-------------------------------------------------- */
    
/* Round Edges */
table.rounded thead th:first-child {
  -webkit-border-top-left-radius: 6px;
  -moz-border-top-left-radius: 6px;
  -html-border-top-left-radius: 6px;
  border-top-left-radius: 6px;
}
table.rounded thead th:last-child {
  -webkit-border-top-right-radius: 6px;
  -moz-border-top-right-radius: 6px;
  -html-border-top-right-radius: 6px;
  border-top-right-radius: 6px;
}
table.rounded tfoot th:first-child {
  -webkit-border-bottom-left-radius: 6px;
  -moz-border-bottom-left-radius: 6px;
  -html-border-bottom-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
table.rounded tfoot th:last-child {
  -webkit-border-bottom-right-radius: 6px;
  -moz-border-bottom-right-radius: 6px;
  -html-border-bottom-right-radius: 6px;
  border-bottom-right-radius: 6px;
}


   
/*  --------------------------------------------------
  :: 
  -------------------------------------------------- */
