/* -------------------------------------------------------
  
  Centurion Framework
  
  Centurion Framework v.2.3
  
  Created by:  Justin Hough
  Documentation:  http://www.justinhough.com/centurion

  GPL license:
  http://www.gnu.org/licenses/gpl.html

-------------------------------------------------------- */
h1 {
  color: #555555;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 35px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}

h2 {
  color: #555555;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}

h3 {
  color: #555555;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}

h4, h5, h6 {
  color: #555555;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}

p,
blockquote,
article,
section {
  color: #555555;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  color: #555555;
}

ul li {
  font-size: 15px;
  list-style: circle;
  margin-left: 20px;
}

a {
  color: #ffa84c;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
a:hover {
  color: black;
}
a:visited {
  color: #ffa84c;
}

/* ================================================
    HEADER
================================================== */
header {
  padding: 20px 0 0 0;
}

/* ================================================
    NAVIGATION
================================================== */
nav#main {
  background: black;
  -moz-box-shadow: 0 0 8px #555555;
  -webkit-box-shadow: 0 0 8px #555555;
  -ms-box-shadow: 0 0 8px #555555;
  -o-box-shadow: 0 0 8px #555555;
  box-shadow: 0 0 8px #555555;
  float: left;
  font-size: 15px;
  margin-bottom: 10px;
  width: 100%;
}
nav#main ul {
  float: left;
  margin: 0;
  padding: 0;
}
nav#main ul li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
nav#main ul li a {
  color: white;
  float: left;
  margin: 0;
  padding: 14px 20px;
  text-decoration: none;
}
nav#main ul li a:hover {
  background: white;
  color: #000;
}

/* ================================================
    CONTENT
================================================== */
section {
  margin: 10px 0;
}

/* ================================================
    FOOTER
================================================== */
footer {
  background: black;
  min-height: 50px;
  margin-top: 10px;
  padding: 20px 0 10px 0;
}
footer h2 {
  color: white;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}
footer p,
footer blockquote,
footer article,
footer section {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
footer a {
  color: white;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
footer a:hover {
  color: #999999;
}
footer a:visited {
  color: white;
}

/* ================================================
    BUTTONS
================================================== */
.button {
  border: none;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px / 5px;
  -ms-border-radius: 5px / 5px;
  -o-border-radius: 5px / 5px;
  border-radius: 5px / 5px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzBlMGUwZSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzdkN2U3ZCIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #0e0e0e), color-stop(100%, #7d7e7d));
  background-image: -webkit-linear-gradient(#0e0e0e, #7d7e7d);
  background-image: -moz-linear-gradient(#0e0e0e, #7d7e7d);
  background-image: -o-linear-gradient(#0e0e0e, #7d7e7d);
  background-image: -ms-linear-gradient(#0e0e0e, #7d7e7d);
  background-image: linear-gradient(#0e0e0e, #7d7e7d);
  color: white;
  cursor: pointer;
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 1.5;
  margin: 5px 0;
  outline: 0;
  padding: 10px 22px;
  text-decoration: none;
  vertical-align: middle;
  zoom: 1;
}

.button:hover,
.button:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNkM2QzZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzliOWI5YiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #3d3d3d), color-stop(100%, #9b9b9b));
  background-image: -webkit-linear-gradient(#3d3d3d, #9b9b9b);
  background-image: -moz-linear-gradient(#3d3d3d, #9b9b9b);
  background-image: -o-linear-gradient(#3d3d3d, #9b9b9b);
  background-image: -ms-linear-gradient(#3d3d3d, #9b9b9b);
  background-image: linear-gradient(#3d3d3d, #9b9b9b);
}

/* Button - Grey */
.button.grey {
  color: #555555;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1ZTVlNSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #e5e5e5), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#e5e5e5, #ffffff);
  background-image: -moz-linear-gradient(#e5e5e5, #ffffff);
  background-image: -o-linear-gradient(#e5e5e5, #ffffff);
  background-image: -ms-linear-gradient(#e5e5e5, #ffffff);
  background-image: linear-gradient(#e5e5e5, #ffffff);
}

.button.grey:hover,
.button.grey:active {
  color: #555555;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2I3YjdiNyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b7b7b7), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#b7b7b7, #ffffff);
  background-image: -moz-linear-gradient(#b7b7b7, #ffffff);
  background-image: -o-linear-gradient(#b7b7b7, #ffffff);
  background-image: -ms-linear-gradient(#b7b7b7, #ffffff);
  background-image: linear-gradient(#b7b7b7, #ffffff);
}

/* Button - Blue */
.button.blue {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIzNTM4YSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E3Y2ZkZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #23538a), color-stop(100%, #a7cfdf));
  background-image: -webkit-linear-gradient(#23538a, #a7cfdf);
  background-image: -moz-linear-gradient(#23538a, #a7cfdf);
  background-image: -o-linear-gradient(#23538a, #a7cfdf);
  background-image: -ms-linear-gradient(#23538a, #a7cfdf);
  background-image: linear-gradient(#23538a, #a7cfdf);
}

.button.blue:hover,
.button.blue:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwNDA4OSIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E3Y2ZkZiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #004089), color-stop(100%, #a7cfdf));
  background-image: -webkit-linear-gradient(#004089, #a7cfdf);
  background-image: -moz-linear-gradient(#004089, #a7cfdf);
  background-image: -o-linear-gradient(#004089, #a7cfdf);
  background-image: -ms-linear-gradient(#004089, #a7cfdf);
  background-image: linear-gradient(#004089, #a7cfdf);
}

/* Button - Red */
.button.red {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NmMDQwNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMzAxOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #cf0404), color-stop(100%, #ff3019));
  background-image: -webkit-linear-gradient(#cf0404, #ff3019);
  background-image: -moz-linear-gradient(#cf0404, #ff3019);
  background-image: -o-linear-gradient(#cf0404, #ff3019);
  background-image: -ms-linear-gradient(#cf0404, #ff3019);
  background-image: linear-gradient(#cf0404, #ff3019);
}

.button.red:hover,
.button.red:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2FhMDMwMyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmMzgxOSIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #aa0303), color-stop(100%, #ff3819));
  background-image: -webkit-linear-gradient(#aa0303, #ff3819);
  background-image: -moz-linear-gradient(#aa0303, #ff3819);
  background-image: -o-linear-gradient(#aa0303, #ff3819);
  background-image: -ms-linear-gradient(#aa0303, #ff3819);
  background-image: linear-gradient(#aa0303, #ff3819);
}

/* Button - Yellow */
.button.yellow {
  color: #555555;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZlYmYwNCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjZWQ2MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #febf04), color-stop(100%, #fced62));
  background-image: -webkit-linear-gradient(#febf04, #fced62);
  background-image: -moz-linear-gradient(#febf04, #fced62);
  background-image: -o-linear-gradient(#febf04, #fced62);
  background-image: -ms-linear-gradient(#febf04, #fced62);
  background-image: linear-gradient(#febf04, #fced62);
}

.button.yellow:hover,
.button.yellow:active {
  color: #555555;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmYWEwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZjZWQ2MiIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffaa00), color-stop(100%, #fced62));
  background-image: -webkit-linear-gradient(#ffaa00, #fced62);
  background-image: -moz-linear-gradient(#ffaa00, #fced62);
  background-image: -o-linear-gradient(#ffaa00, #fced62);
  background-image: -ms-linear-gradient(#ffaa00, #fced62);
  background-image: linear-gradient(#ffaa00, #fced62);
}

/* Button - Orange */
.button.orange {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmN2IwZCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYTg0YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ff7b0d), color-stop(100%, #ffa84c));
  background-image: -webkit-linear-gradient(#ff7b0d, #ffa84c);
  background-image: -moz-linear-gradient(#ff7b0d, #ffa84c);
  background-image: -o-linear-gradient(#ff7b0d, #ffa84c);
  background-image: -ms-linear-gradient(#ff7b0d, #ffa84c);
  background-image: linear-gradient(#ff7b0d, #ffa84c);
}

.button.orange:hover,
.button.orange:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjNjAwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2ZmYTg0YyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #fc6000), color-stop(100%, #ffa84c));
  background-image: -webkit-linear-gradient(#fc6000, #ffa84c);
  background-image: -moz-linear-gradient(#fc6000, #ffa84c);
  background-image: -o-linear-gradient(#fc6000, #ffa84c);
  background-image: -ms-linear-gradient(#fc6000, #ffa84c);
  background-image: linear-gradient(#fc6000, #ffa84c);
}

/* Button - Green */
.button.green {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc1ODkwYyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E0YjM1NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #75890c), color-stop(100%, #a4b357));
  background-image: -webkit-linear-gradient(#75890c, #a4b357);
  background-image: -moz-linear-gradient(#75890c, #a4b357);
  background-image: -o-linear-gradient(#75890c, #a4b357);
  background-image: -ms-linear-gradient(#75890c, #a4b357);
  background-image: linear-gradient(#75890c, #a4b357);
}

.button.green:hover,
.button.green:active {
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjUwJSIgeTE9IjAlIiB4Mj0iNTAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzViN2EwMCIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2E0YjM1NyIvPjwvbGluZWFyR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
  background-size: 100%;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b7a00), color-stop(100%, #a4b357));
  background-image: -webkit-linear-gradient(#5b7a00, #a4b357);
  background-image: -moz-linear-gradient(#5b7a00, #a4b357);
  background-image: -o-linear-gradient(#5b7a00, #a4b357);
  background-image: -ms-linear-gradient(#5b7a00, #a4b357);
  background-image: linear-gradient(#5b7a00, #a4b357);
}

/* Different Button Sizes */
.button.small {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
  font-size: 13px;
  padding: 8px 18px;
}

.button.large {
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px / 6px;
  -ms-border-radius: 6px / 6px;
  -o-border-radius: 6px / 6px;
  border-radius: 6px / 6px;
  font-size: 20px;
  font-weight: bold;
  padding: 8px 28px;
}

/* Full Width Buttons  - Needs work on this implementation for the grid system */
.button.full {
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

/* Link reset for underline and color */
a.button {
  color: white;
  text-decoration: none;
}

/* ================================================
    IMAGES
================================================== */
img.rfloat {
  float: right;
  margin: 0 0 15px 15px;
}

img.lfloat {
  float: left;
  margin: 0 15px 15px 0;
}

img.rfloat.frame,
img.lfloat.frame,
img.frame {
  padding: 5px;
}
