/* -------------------------------------------------------
	
  Centurion Framework
	
  Centurion Framework v.2.2
	
  Created by:  Justin Hough
  Documentation:  http://www.justinhough.com/centurion

  GPL license:
  http://www.gnu.org/licenses/gpl.html

-------------------------------------------------------- */


/* ================================================
		HEADER
================================================== */
header {
  padding: 20px 0 0 0;
}

/* ================================================
		NAVIGATION
================================================== */
nav {
  box-shadow: 0 0 8px #777;
  float: left;
  margin-bottom: 10px;
  width: 100%;
}
nav ul {
  float: left;
  margin: 0;
  padding: 0;
}
nav ul li {
  display: inline;
  float: left;
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
nav ul li a {
  display: inline;
  float: left;
  margin: 0;
  padding: 10px 20px;
  text-decoration: none;
}

/* ================================================
		CONTENT
================================================== */
section {
  margin: 10px 0;
}

/* ================================================
		FOOTER
================================================== */
footer {
  margin-top: 10px;
  padding: 20px 0 10px 0;
}

/* ================================================
		IMAGES
================================================== */
img.rfloat {
  float: right;
  margin: 0 0 15px 10px;
}
img.lfloat {
  float: left;
  margin: 0 15px 10px 0;
}
img.rfloat.frame, img.lfloat.frame, img.frame {
  padding: 5px;
}


/* ================================================
		Base 960 Grid - 960px
================================================== */

#wrapper {
  margin: 0 auto;
  width: 1000px;
}

/* Container
--------------------------------- */
.container {
  	margin-left: auto;
  	margin-right: auto;
  	width: 960px;
}

/* Grid - Fixed
--------------------------------- */
.grid-1,
.grid-2,
.grid-3,
.grid-4,
.grid-5,
.grid-6,
.grid-7,
.grid-8,
.grid-9,
.grid-10,
.grid-11,
.grid-12 {
	display: inline;
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* Full Grid
--------------------------------- */
.container .grid-1 { width: 60px; }
.container .grid-2 { width: 140px; }
.container .grid-3 { width: 220px; }
.container .grid-4 { width: 300px; }
.container .grid-5 { width: 380px; }
.container .grid-6 { width: 460px; }
.container .grid-7 { width: 540px; }
.container .grid-8 { width: 620px; }
.container .grid-9 { width: 700px; }
.container .grid-10 { width: 780px; }
.container .grid-11 { width: 860px; }
.container .grid-12 { width: 940px; }

/* Pull
--------------------------------- */
.push-1, .pull-1,
.push-2, .pull-2,
.push-3, .pull-3,
.push-4, .pull-4,
.push-5, .pull-5,
.push-6, .pull-6,
.push-7, .pull-7,
.push-8, .pull-8,
.push-9, .pull-9,
.push-10, .pull-10,
.push-11, .pull-11,
.push-12, .pull-12 { position:relative; }


/* Push
--------------------------------- */
.container .push-1 { left: 80px; }
.container .push-2 { left: 160px; }
.container .push-3 { left: 240px; }
.container .push-4 { left: 320px; }
.container .push-5 { left: 400px; }
.container .push-6 { left: 480px; }
.container .push-7 { left: 560px; }
.container .push-8 { left: 640px; }
.container .push-9 { left: 720px; }
.container .push-10 { left: 800px; }
.container .push-11 { left: 880px; }
/*.container .push-12 { left: 970px; }*/

/* Pull
--------------------------------- */
.container .pull-1 { left: -80px; }
.container .pull-2 { left: -160px; }
.container .pull-3 { left: -240px; }
.container .pull-4 { left: -320px; }
.container .pull-5 { left: -400px; }
.container .pull-6 { left: -480px; }
.container .pull-7 { left: -560px; }
.container .pull-8 { left: -640px; }
.container .pull-9 { left: -720px; }
.container .pull-10 { left: -800px; }
.container .pull-11 { left: -880px; }
/*.container .pull-12 { left: -970px; }*/


.centerGrid {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* ================================================
		TABLET - FLUID FRAMEWORK
================================================== */
@media only screen and (min-width: 768px) and (max-width: 959px) {
    #wrapper {
      width: 94%;
    }
    .container {
      width: 92%;
      margin-left: 4%;
      margin-right: 4%;
    }
    .grid-1,
    .grid-2,
    .grid-3,
    .grid-4,
    .grid-5,
    .grid-6,
    .grid-7,
    .grid-8,
    .grid-9,
    .grid-10,
    .grid-11,
    .grid-12 {
      display:inline;
      float: left;
      position: relative;
      margin-left: 1%;
      margin-right: 1%;
    }
    
    /* Fluid Grid
	--------------------------------- */
    
    .container .grid-1 {
      width:6.333%;
    }
    .container .grid-2 {
      width:14.667%;
    }
    .container .grid-3 {
      width:23.0%;
    }
    .container .grid-4 {
      width:31.333%;
    }
    .container .grid-5 {
      width:39.667%;
    }
    .container .grid-6 {
      width:48.0%;
    }
    .container .grid-7 {
      width:56.333%;
    }
    .container .grid-8 {
      width:64.667%;
    }
    .container .grid-9 {
      width:73.0%;
    }
    .container .grid-10 {
      width:81.333%;
    }
    .container .grid-11 {
      width:89.667%;
    }
    .container .grid-12 {
      width:98.0%;
    }
    
    /* Push
    --------------------------------- */
    .container .push-1 {
      left:8.333%;
    }
    .container .push-2 {
      left:16.667%;
    }
    .container .push-3 {
      left:25.0%;
    }
    .container .push-4 {
      left:33.333%;
    }
    .container .push-5 {
      left:41.667%;
    }
    .container .push-6 {
      left:50.0%;
    }
    .container .push-7 {
      left:58.333%;
    }
    .container .push-8 {
      left:66.667%;
    }
    .container .push-9 {
      left:75.0%;
    }
    .container .push-10 {
      left:83.333%;
    }
    .container .push-11 {
      left:91.667%;
    }
    
    /* Pull
	--------------------------------- */
    .container .pull-1 {
      left:-8.333%;
    }
    .container .pull-2 {
      left:-16.667%;
    }
    .container .pull-3 {
      left:-25.0%;
    }
    .container .pull-4 {
      left:-33.333%;
    }
    .container .pull-5 {
      left:-41.667%;
    }
    .container .pull-6 {
      left:-50.0%;
    }
    .container .pull-7 {
      left:-58.333%;
    }
    .container .pull-8 {
      left:-66.667%;
    }
    .container .pull-9 {
      left:-75.0%;
    }
    .container .pull-10 {
      left:-83.333%;
    }
    .container .pull-11 {
      left:-91.667%;
    }
    
    /* Navigation
	--------------------------------- */
    nav {
      box-shadow: 0 0 8px #777;
      float: left;
      margin-bottom: 10px;
      width: 100%;
    }
    nav ul {
      float: left;
      margin: 0;
      padding: 0;
    }
    nav ul li {
      display: inline;
      float: left;
      list-style: none;
      margin: 0;
      padding: 0;
      position: relative;
    }
    nav ul li a {
      display: inline;
      float: left;
      margin: 0;
      padding: 10px 20px;
      text-decoration: none;
    }
}

/* ================================================
		MOBILE LANDSCAPRE
================================================== */
@media only screen and (min-width: 480px) and (max-width: 767px) {
  #wrapper { width: 440px; }
  
  body { min-width: 420px; }
  
  /* Grid 
  --------------------------------- */
  .container { width: 420px; }
  
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12 { margin: 0; }
 
  .container .grid-1,
  .container .grid-2,
  .container .grid-3,
  .container .grid-4,
  .container .grid-5,
  .container .grid-6,
  .container .grid-7,
  .container .grid-8,
  .container .grid-9,
  .container .grid-10,
  .container .grid-11,
  .container .grid-12 { width: 420px; }

  /* Header
  --------------------------------- */
  header {
    padding: 20px 0;
  }

  /* Navigation
  --------------------------------- */
  nav { 
    margin: 0 auto;
    padding: 0;
    width:100%;
  }
  nav ul#main {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow:hidden;
  }
  nav ul#main li {
    width: 100%;
  }
  nav ul#main li a {
    display:block;
    float: none;
    margin: 0;
  }

  /* Images
  --------------------------------- */
  img.rfloat {
    float:none;
  }
  img.lfloat {
    float:none; 
  }
}

/* Mobile - Portrait
--------------------------------- */
@media only screen and (max-width: 479px) {
  #wrapper { width: 320px; }
 
  body { min-width: 300px; }
  
  /* Grid
  --------------------------------- */
  .container { width: 300px; }
  
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12 { margin: 0; }
 
  .container .grid-1,
  .container .grid-2,
  .container .grid-3,
  .container .grid-4,
  .container .grid-5,
  .container .grid-6,
  .container .grid-7,
  .container .grid-8,
  .container .grid-9,
  .container .grid-10,
  .container .grid-11,
  .container .grid-12 { width: 300px; }


  /* Header
  --------------------------------- */
  header {
    padding: 20px 0;
  }

  /* Navigation
  --------------------------------- */
  nav { 
    margin: 0 auto;
    padding: 0;
    width:100%;
  }
  nav ul#main {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow:hidden;
  }
  nav ul#main li {
    width: 100%;
  }
  nav ul#main li a {
    display:block;
    float: none;
    margin: 0;
  }

  /* Images
  --------------------------------- */
  img.rfloat {
    float:none;
    display: none;
  }
  img.lfloat {
    float:none; 
    display: none;
  }
}

/* ================================================
		REMOVE MARGIN ON GRID ELEMENTS
================================================== */
.first {
  margin-left: 0;
}
.last {
  margin-right: 0;
}

/* ================================================
		SHOW IMAGES in Mobile View
================================================== */
.visible {
  display: block;
}
/* ================================================
		CLEAR
================================================== */
/* http://sonspring.com/journal/clearing-floats */

.clear {
  clear: both;
  display: block;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
/* http://www.yuiblog.com/blog/2010/09/27/clearfix-reloaded-overflowhidden-demystified */
.clearfix:before,
.clearfix:after,
.container:before,
.container:after {
  content: '.';
  display: block;
  font-size: 0;
  line-height: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  width: 0;
}
.clearfix:after,
.container:after {
  clear: both;
}
/* ================================================
		The following zoom:1 rule is specifically for IE6 + IE7.
================================================== */
.clearfix,
.container {
  zoom: 1;
}
