/* -------------------------------------------------------
  
  Centurion Framework
  
  Centurion Framework v.2.3
  
  Created by:  Justin Hough
  Documentation:  http://www.justinhough.com/centurion

  GPL license:
  http://www.gnu.org/licenses/gpl.html

-------------------------------------------------------- */
/* ================================================
    HEADER
================================================== */
header {
  padding: 20px 0 0 0;
}

/* ================================================
    NAVIGATION
================================================== */
nav#main {
  background: black;
  -moz-box-shadow: 0 0 8px #555555;
  -webkit-box-shadow: 0 0 8px #555555;
  -ms-box-shadow: 0 0 8px #555555;
  -o-box-shadow: 0 0 8px #555555;
  box-shadow: 0 0 8px #555555;
  float: left;
  font-size: 15px;
  margin-bottom: 10px;
  width: 100%;
}
nav#main ul {
  float: left;
  margin: 0;
  padding: 0;
}
nav#main ul li {
  display: inline;
  float: left;
  margin: 0;
  padding: 0;
  position: relative;
}
nav#main ul li a {
  color: white;
  float: left;
  margin: 0;
  padding: 15px 20px;
  text-decoration: none;
}
nav#main ul li a:hover {
  background: white;
  color: #000;
}
nav#main ul li a.on {
  background: white;
  color: #000;
}

/* ================================================
    CONTENT
================================================== */
section {
  margin: 10px 0;
}

/* ================================================
    FOOTER
================================================== */
footer {
  background: black;
  min-height: 50px;
  margin-top: 10px;
  padding: 20px 0 10px 0;
}
footer h2 {
  color: white;
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 25px;
  line-height: 1.5;
  font-weight: bold;
  margin: 10px 0;
}
footer p,
footer blockquote,
footer article,
footer section {
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  line-height: 1.5;
}
footer a {
  color: white;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
footer a:hover {
  color: #999999;
}
footer a:visited {
  color: white;
}

/* ================================================
    CENTURION GRID
================================================== */
/* Desktop Fixed Grid Layout - 960px */
#centurion_4 .container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
#centurion_4 .container .grid-1, #centurion_4 .container .grid-2, #centurion_4 .container .grid-3, #centurion_4 .container .grid-4, #centurion_4 .container .grid-5, #centurion_4 .container .grid-6, #centurion_4 .container .grid-7, #centurion_4 .container .grid-8, #centurion_4 .container .grid-9, #centurion_4 .container .grid-10, #centurion_4 .container .grid-11, #centurion_4 .container .grid-12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
}
#centurion_4 .container .centerGrid {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
#centurion_4 .container .alpha {
  margin-left: 0;
}
#centurion_4 .container .omega {
  margin-right: 0;
}
#centurion_4 .container .grid-1 {
  width: 60px;
}
#centurion_4 .container .grid-2 {
  width: 140px;
}
#centurion_4 .container .grid-3 {
  width: 220px;
}
#centurion_4 .container .grid-4 {
  width: 300px;
}
#centurion_4 .container .grid-5 {
  width: 380px;
}
#centurion_4 .container .grid-6 {
  width: 460px;
}
#centurion_4 .container .grid-7 {
  width: 540px;
}
#centurion_4 .container .grid-8 {
  width: 620px;
}
#centurion_4 .container .grid-9 {
  width: 700px;
}
#centurion_4 .container .grid-10 {
  width: 780px;
}
#centurion_4 .container .grid-11 {
  width: 860.0px;
}
#centurion_4 .container .grid-12 {
  width: 940px;
}
#centurion_4 .container .pull-1 {
  left: -80px;
  position: relative;
}
#centurion_4 .container .pull-2 {
  left: -160px;
  position: relative;
}
#centurion_4 .container .pull-3 {
  left: -240px;
  position: relative;
}
#centurion_4 .container .pull-4 {
  left: -320px;
  position: relative;
}
#centurion_4 .container .pull-5 {
  left: -400px;
  position: relative;
}
#centurion_4 .container .pull-6 {
  left: -480px;
  position: relative;
}
#centurion_4 .container .pull-7 {
  left: -560px;
  position: relative;
}
#centurion_4 .container .pull-8 {
  left: -640px;
  position: relative;
}
#centurion_4 .container .pull-9 {
  left: -720px;
  position: relative;
}
#centurion_4 .container .pull-10 {
  left: -800px;
  position: relative;
}
#centurion_4 .container .pull-11 {
  left: -880.0px;
  position: relative;
}
#centurion_4 .container .pull-12 {
  left: -960px;
  position: relative;
}
#centurion_4 .container .push-1 {
  left: 80px;
  position: relative !important;
}
#centurion_4 .container .push-2 {
  left: 160px;
  position: relative !important;
}
#centurion_4 .container .push-3 {
  left: 240px;
  position: relative !important;
}
#centurion_4 .container .push-4 {
  left: 320px;
  position: relative !important;
}
#centurion_4 .container .push-5 {
  left: 400px;
  position: relative !important;
}
#centurion_4 .container .push-6 {
  left: 480px;
  position: relative !important;
}
#centurion_4 .container .push-7 {
  left: 560px;
  position: relative !important;
}
#centurion_4 .container .push-8 {
  left: 640px;
  position: relative !important;
}
#centurion_4 .container .push-9 {
  left: 720px;
  position: relative !important;
}
#centurion_4 .container .push-10 {
  left: 800px;
  position: relative !important;
}
#centurion_4 .container .push-11 {
  left: 880.0px;
  position: relative !important;
}
#centurion_4 .container .push-12 {
  left: 960px;
  position: relative !important;
}

/* Desktop Fluid Grid Layout - 92% */
#centurion_3 .container {
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
}
#centurion_3 .container .grid-1, #centurion_3 .container .grid-2, #centurion_3 .container .grid-3, #centurion_3 .container .grid-4, #centurion_3 .container .grid-5, #centurion_3 .container .grid-6, #centurion_3 .container .grid-7, #centurion_3 .container .grid-8, #centurion_3 .container .grid-9, #centurion_3 .container .grid-10, #centurion_3 .container .grid-11, #centurion_3 .container .grid-12 {
  display: inline;
  float: left;
  margin-left: 1%;
  margin-right: 1%;
  position: relative;
}
#centurion_3 .container .centerGrid {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}
#centurion_3 .container .alpha {
  margin-left: 0;
}
#centurion_3 .container .omega {
  margin-right: 0;
}
#centurion_3 .container .grid-1 {
  width: 6.333%;
}
#centurion_3 .container .grid-2 {
  width: 14.667%;
}
#centurion_3 .container .grid-3 {
  width: 23%;
}
#centurion_3 .container .grid-4 {
  width: 31.333%;
}
#centurion_3 .container .grid-5 {
  width: 39.667%;
}
#centurion_3 .container .grid-6 {
  width: 48%;
}
#centurion_3 .container .grid-7 {
  width: 56.333%;
}
#centurion_3 .container .grid-8 {
  width: 64.667%;
}
#centurion_3 .container .grid-9 {
  width: 73%;
}
#centurion_3 .container .grid-10 {
  width: 81.333%;
}
#centurion_3 .container .grid-11 {
  width: 89.667%;
}
#centurion_3 .container .grid-12 {
  width: 98%;
}
#centurion_3 .container .pull-1 {
  left: -8.333%;
}
#centurion_3 .container .pull-2 {
  left: -16.667%;
}
#centurion_3 .container .pull-3 {
  left: -25%;
}
#centurion_3 .container .pull-4 {
  left: -33.333%;
}
#centurion_3 .container .pull-5 {
  left: -41.667%;
}
#centurion_3 .container .pull-6 {
  left: -50%;
}
#centurion_3 .container .pull-7 {
  left: -58.333%;
}
#centurion_3 .container .pull-8 {
  left: -66.667%;
}
#centurion_3 .container .pull-9 {
  left: -75%;
}
#centurion_3 .container .pull-10 {
  left: -83.333%;
}
#centurion_3 .container .pull-11 {
  left: -91.667%;
}
#centurion_3 .container .pull-12 {
  left: -100%;
}
#centurion_3 .container .push-1 {
  left: 8.333%;
}
#centurion_3 .container .push-2 {
  left: 16.667%;
}
#centurion_3 .container .push-3 {
  left: 25%;
}
#centurion_3 .container .push-4 {
  left: 33.333%;
}
#centurion_3 .container .push-5 {
  left: 41.667%;
}
#centurion_3 .container .push-6 {
  left: 50%;
}
#centurion_3 .container .push-7 {
  left: 58.333%;
}
#centurion_3 .container .push-8 {
  left: 66.667%;
}
#centurion_3 .container .push-9 {
  left: 75%;
}
#centurion_3 .container .push-10 {
  left: 83.333%;
}
#centurion_3 .container .push-11 {
  left: 91.667%;
}
#centurion_3 .container .push-12 {
  left: 100%;
}

/* Mobile Landscape Grid Layout - 480px */
#centurion_2 #wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 480px;
}
#centurion_2 .container {
  width: 480px;
  margin-left: auto;
  margin-right: auto;
}
#centurion_2 .container .grid-1, #centurion_2 .container .grid-2, #centurion_2 .container .grid-3, #centurion_2 .container .grid-4, #centurion_2 .container .grid-5, #centurion_2 .container .grid-6, #centurion_2 .container .grid-7, #centurion_2 .container .grid-8, #centurion_2 .container .grid-9, #centurion_2 .container .grid-10, #centurion_2 .container .grid-11, #centurion_2 .container .grid-12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 480px;
}
#centurion_2 .container .centerGrid {
  display: block;
  float: none;
  margin-left: 10px;
  margin-right: 10px;
}
#centurion_2 .container .alpha {
  margin-left: 0;
}
#centurion_2 .container .omega {
  margin-right: 0;
}

/* Mobile Portrait Grid Layout - 320px */
#centurion_1 #wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 320px;
}
#centurion_1 .container {
  width: 320px;
  margin-left: auto;
  margin-right: auto;
}
#centurion_1 .container .grid-1, #centurion_1 .container .grid-2, #centurion_1 .container .grid-3, #centurion_1 .container .grid-4, #centurion_1 .container .grid-5, #centurion_1 .container .grid-6, #centurion_1 .container .grid-7, #centurion_1 .container .grid-8, #centurion_1 .container .grid-9, #centurion_1 .container .grid-10, #centurion_1 .container .grid-11, #centurion_1 .container .grid-12 {
  display: inline;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  width: 320px;
}
#centurion_1 .container .centerGrid {
  display: block;
  float: none;
  margin-left: 10px;
  margin-right: 10px;
}
#centurion_1 .container .alpha {
  margin-left: 0;
}
#centurion_1 .container .omega {
  margin-right: 0;
}

.centerGrid {
  display: block;
  float: none;
  margin-left: auto;
  margin-right: auto;
}

/* Clearfix */
.clearfix:after, .clearfix:before,
.container:after,
.container:before {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
  clear: both;
  zoom: 1;
}
* html .clearfix, * html
.container {
  height: 1px;
}

.clear {
  clear: both;
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
