/* line 6, ../sass/normalize.sass */
article, aside, details, figcaption, figure, footer, header, hgroup, main, nav, section, summary {
  display: block;
}

/* line 10, ../sass/normalize.sass */
audio, canvas, video {
  display: inline-block;
}

/* line 13, ../sass/normalize.sass */
audio:not([controls]) {
  display: none;
  height: 0;
}

/* line 21, ../sass/normalize.sass */
[hidden] {
  display: none;
}

/* line 27, ../sass/normalize.sass */
html {
  background: white;
  color: black;
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

/* line 42, ../sass/normalize.sass */
body {
  margin: 0;
}

/* line 50, ../sass/normalize.sass */
a:focus {
  outline: thin dotted;
}
/* line 54, ../sass/normalize.sass */
a:active, a:hover {
  outline: 0;
}

/* line 61, ../sass/normalize.sass */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* line 66, ../sass/normalize.sass */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 70, ../sass/normalize.sass */
b, strong {
  font-weight: bold;
}

/* line 74, ../sass/normalize.sass */
dfn {
  font-style: italic;
}

/* line 78, ../sass/normalize.sass */
hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* line 84, ../sass/normalize.sass */
mark {
  background: yellow;
  color: black;
}

/* line 89, ../sass/normalize.sass */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em;
}

/* line 94, ../sass/normalize.sass */
pre {
  white-space: pre-wrap;
}

/* line 98, ../sass/normalize.sass */
q {
  quotes: "\201C" "\201D" "\2018" "\2019";
}

/* line 102, ../sass/normalize.sass */
small {
  font-size: 80%;
}

/* line 106, ../sass/normalize.sass */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 112, ../sass/normalize.sass */
sup {
  top: -0.5em;
}

/* line 115, ../sass/normalize.sass */
sub {
  bottom: -0.25em;
}

/* line 122, ../sass/normalize.sass */
img {
  border: 0;
}

/* line 126, ../sass/normalize.sass */
svg:not(:root) {
  overflow: hidden;
}

/* line 133, ../sass/normalize.sass */
figure {
  margin: 0;
}

/* line 140, ../sass/normalize.sass */
fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/* line 145, ../sass/normalize.sass */
legend {
  border: 0;
  padding: 0;
}

/* line 152, ../sass/normalize.sass */
button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
  margin: 0;
}

/* line 163, ../sass/normalize.sass */
button, input {
  line-height: normal;
}

/* line 170, ../sass/normalize.sass */
button, select {
  text-transform: none;
}

/* line 173, ../sass/normalize.sass */
button, html input[type='button'], input[type='reset'], input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

/* line 182, ../sass/normalize.sass */
button[disabled], html input[disabled] {
  cursor: default;
}

/* line 186, ../sass/normalize.sass */
input[type='checkbox'], input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}
/* line 193, ../sass/normalize.sass */
input[type='search'] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
/* line 203, ../sass/normalize.sass */
input[type='search']::-webkit-search-cancel-button, input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

/* line 207, ../sass/normalize.sass */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 211, ../sass/normalize.sass */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 222, ../sass/normalize.sass */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
