/* -------------------------------------------------------
	
	Colors
	
	Centurion Framework v.2.1
	
	Created by: 	Justin Hough
	Documentation:	http://www.justinhough.com/centurion

	Free to use under the MIT license.
	http://www.opensource.org/licenses/mit-license.php
	
-------------------------------------------------------- */

/* ================================================
		WRAPPER
================================================== */
#wrapper {
  background-color: rgba(0, 0, 0, 0.6);
}
body {
  color: #fff;
}


/* ================================================
		NAVIGATION
================================================== */
nav {
  background:#000;
}
nav ul#main li {
  color:#fff;
}
nav ul#main li a {
  color:#fff;
}
nav ul#main li a:hover {
  color:#000;
  background: #fff;
}


/* ================================================
		FOOTER
================================================== */
footer { 
  background:#000; 
}


/* ================================================
		IMAGES
================================================== */
img.rfloat.frame,
img.lfloat.frame,
img.frame {
  background: #fff;	
  border:1px solid #ccc;
}
img.shadow {
  -moz-box-shadow: 2px 2px 5px #999;
  -webkit-box-shadow: 2px 2px 5px #999;
  -o-box-shadow: 2px 2px 5px #999;
  box-shadow: 2px 2px 5px #999;
}

/* ================================================
		TEXT
================================================== */

/* Headings
--------------------------------- */
header big {
  color:#fff;
}
header small {
  color:#ededed;
}

h1 {
  color: #fff;
}
h2 {
  color: #fced62; /* Yellow */
}
h3 {
  color: #febf04; /* Yellow */
}


/* Captions
--------------------------------- */
.caption {
  color:#999;
}

/* Footer
--------------------------------- */
footer h1,
footer h2,
footer h3 { color: #fff; }
footer p { color:#fff; }

/* Links
--------------------------------- */
a, a:visited {
  color: #fced62;
}
a:hover {
  color: #ffaa00;
}


