/* -------------------------------------------------------
	
	Custom Site Styles
	
	Centurion Framework v.2.1
	
	Created by: 	Justin Hough
	Documentation:	http://www.justinhough.com/centurion

	Free to use under the MIT license.
	http://www.opensource.org/licenses/mit-license.php
	
-------------------------------------------------------- */

/* ================================================
		Site Wide Styling
================================================== */
body {
	background-image: url('../images/brick_wall.jpg');
	background-attachment:fixed;
}



/* ================================================
		Individual Page Styling
================================================== */




/* ================================================
		Custom Media Queries
================================================== */

/* Standard 960
--------------------------------- */
@media only screen and (max-width: 959px) {
	
}

/* Tablet - Landscape
--------------------------------- */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	
}

/* Tablet - Portrait
--------------------------------- */
@media only screen and (max-width: 767px) {
	
}

/* Mobile - Landscape
--------------------------------- */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	
}

/* Mobile - Portrait
--------------------------------- */
@media only screen and (max-width: 479px) {
	
}



/* ================================================
		@Font-Face
		
		Add your own custom fonts to your theme
		or design.
================================================== */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/