/*
Syntax error: Invalid CSS after "#DEDEDE": expected expression (e.g. 1px, bold), was ";"
        on line 353 of /Users/jhough/Sites/GIT/Centurion-Github/sass/demo.sass

Backtrace:
/Users/jhough/Sites/GIT/Centurion-Github/sass/demo.sass:353
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/scss/parser.rb:1135:in `expected'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/script/lexer.rb:199:in `expected!'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/script/parser.rb:486:in `assert_done'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/script/parser.rb:50:in `parse'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/script/parser.rb:166:in `parse'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/script.rb:31:in `parse'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:875:in `parse_script'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:608:in `parse_property'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:597:in `parse_property_or_rule'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:578:in `parse_line'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:471:in `build_tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:490:in `append_children'
org/jruby/RubyArray.java:1620:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:489:in `append_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:480:in `build_tree'
org/jruby/RubyArray.java:1620:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:473:in `build_tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:490:in `append_children'
org/jruby/RubyArray.java:1620:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:489:in `append_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:480:in `build_tree'
org/jruby/RubyArray.java:1620:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:473:in `build_tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:490:in `append_children'
org/jruby/RubyArray.java:1620:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:489:in `append_children'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:345:in `_to_tree'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:315:in `_render'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_common/sass-3.2.5/lib/sass/engine.rb:262:in `render'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:122:in `compile'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:121:in `compile'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/logger.rb:45:in `red'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:120:in `compile'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:103:in `run'
org/jruby/RubyArray.java:1620:in `each'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:101:in `run'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/watch_project.rb:147:in `recompile'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/compass_patch.rb:7:in `perform'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/Applications/compass.app/Contents/Resources/lib/ruby/compass_0.12/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
file:/Applications/compass.app/Contents/Resources/Java/compass-app.jar!/ui/tray.rb:420:in `watch'
org/jruby/RubyProc.java:270:in `call'
org/jruby/RubyProc.java:224:in `call'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Invalid CSS after \"#DEDEDE\": expected expression (e.g. 1px, bold), was \";\"\A         on line 353 of /Users/jhough/Sites/GIT/Centurion-Github/sass/demo.sass"; }
