<a name="badges"></a>
<article class="ctn-grid-24">
  <h2>Badges</h2>
  <p>______</p>
  
  <div class="ctn-grid-12">
    <h3>Default Badges</h3>
    <span class="badge">badge</span>
    <span class="badge red">badge red</span>
    <span class="badge blue">badge blue</span>
    <span class="badge purple">badge purple</span>
    <span class="badge green">badge green</span>
    <span class="badge orange">badge orange</span>
    <div class="clear"></div>
    
    <h4>with Light Text</h4>
    <span class="badge light">badge</span>
    <span class="badge light red">badge red</span>
    <span class="badge light blue">badge blue</span>
    <span class="badge light purple">badge purple</span>
    <span class="badge light green">badge green</span>
    <span class="badge light orange">badge orange</span>
    <div class="clear"></div>
    
    <h4>with Dark Text</h4>
    <span class="badge dark">badge</span>
    <span class="badge dark red">badge red</span>
    <span class="badge dark blue">badge blue</span>
    <span class="badge dark purple">badge purple</span>
    <span class="badge dark green">badge green</span>
    <span class="badge dark orange">badge orange</span>
    <div class="clear"></div>

    <h3>Rounded Corner Badges</h3>
    <span class="badge rounded">badge</span>
    <span class="badge rounded red">badge red</span>
    <span class="badge rounded blue">badge blue</span>
    <span class="badge rounded purple">badge purple</span>
    <span class="badge rounded green">badge green</span>
    <span class="badge rounded orange">badge orange</span>
    <div class="clear"></div>
    
    <h4>with Light Text</h4>
    <span class="badge rounded light">badge</span>
    <span class="badge rounded light red">badge red</span>
    <span class="badge rounded light blue">badge blue</span>
    <span class="badge rounded light purple">badge purple</span>
    <span class="badge rounded light green">badge green</span>
    <span class="badge rounded light orange">badge orange</span>
    <div class="clear"></div>
    
    <h4>with Dark Text</h4>
    <span class="badge rounded dark">badge</span>
    <span class="badge rounded dark red">badge red</span>
    <span class="badge rounded dark blue">badge blue</span>
    <span class="badge rounded dark purple">badge purple</span>
    <span class="badge rounded dark green">badge green</span>
    <span class="badge rounded dark orange">badge orange</span>
    <div class="clear"></div>
  </div>

  <div class="ctn-grid-12">
    <h3>Border Only Badges</h3>
    <span class="badge border">badge</span>
    <span class="badge border red">badge red</span>
    <span class="badge border blue">badge blue</span>
    <span class="badge border purple">badge purple</span>
    <span class="badge border green">badge green</span>
    <span class="badge border orange">badge orange</span>
    <div class="clear"></div>
    
    <h4>with Dark Text</h4>
    <span class="badge border dark">badge</span>
    <span class="badge border dark red">badge red</span>
    <span class="badge border dark blue">badge blue</span>
    <span class="badge border dark purple">badge purple</span>
    <span class="badge border dark green">badge green</span>
    <span class="badge border dark orange">badge orange</span>
    <div class="clear"></div>
    
    <h4>with Rounded Corners</h4>
    <span class="badge border rounded dark">badge</span>
    <span class="badge border rounded dark red">badge red</span>
    <span class="badge border rounded dark blue">badge blue</span>
    <span class="badge border rounded dark purple">badge purple</span>
    <span class="badge border rounded dark green">badge green</span>
    <span class="badge border rounded dark orange">badge orange</span>
    <div class="clear"></div>


    <h3>Icon Badges</h3>
    <span class="badge icon-h">badge</span>
    <span class="badge red icon-e">badge red</span>
    <span class="badge blue icon-l">badge blue</span>
    <span class="badge purple icon-l">badge purple</span>
    <span class="badge green icon-o">badge green</span>
    <span class="badge orange icon-o">badge orange</span>
    <div class="clear"></div>

    <h3>Bordered Icon Badges</h3>
    <span class="badge border icon-h">badge</span>
    <span class="badge border red icon-e">badge red</span>
    <span class="badge border blue icon-l">badge blue</span>
    <span class="badge border purple icon-l">badge purple</span>
    <span class="badge border green icon-o">badge green</span>
    <span class="badge border orange icon-o">badge orange</span>
    <div class="clear"></div>

  </div>

</article>