<a name="buttons"></a>
<article class="grid-24">

  <h2>Buttons</h2>
  <p>______</p>

  <div class="grid-8">
    
    <h3>Default</h3>
    <p><a href="#" class="small-btn inline-btn">Small Grey</a></p>
    <pre><code>class="small-btn"</code></pre>
    
    <p><a href="#" class="btn inline-btn">Regular Grey</a></p>
    <pre><code>class="btn"</code></pre>
    
    <p><a href="#" class="large-btn inline-btn">Large Grey</a></p>
    <pre><code>class="large-btn"</code></pre>
    
  </div>
  
  <div class="grid-8">
    <h3>Blue</h3>
    <p><a href="#" class="blue-btn inline-btn">Regular Blue</a></p>
    <pre><code>class="blue-btn"</code></pre>

    <h3>Orange</h3>
    <p><a href="#" class="orange-btn inline-btn">Regular Orange</a></p>
    <pre><code>class="orange-btn"</code></pre>
  </div>
  
  <div class="grid-8">
    <h3>Red</h3>
    <p><a href="#" class="red-btn inline-btn">Regular Red</a></p>
    <pre><code>class="red-btn"</code></pre>
    
    <h3>Green</h3>
    <p><a href="#" class="green-btn inline-btn">Regular Green</a></p>
    <pre><code>class="green-btn"</code></pre>
    
  </div>
</article>
