<a name="colors"></a>
<article id="colors" class="grid-24 alpha">
  <h2>Colors</h2>
  <p>______</p>
  
  <div class="grid-12">

    <!-- BLACK and GREYS -->
    <div data-color="black"></div>
    <div data-color="grey"></div>
    <div data-color="dark-grey"></div>
    <div data-color="light-grey"></div>
    <div class="clear"></div>
    
    <!-- RED -->
    <div data-color="red"></div>
    <div data-color="dark-red"></div>
    <div data-color="light-red"></div>
    <div class="clear"></div>

    <!-- BLUE -->
    <div data-color="blue"></div>
    <div data-color="dark-blue"></div>
    <div data-color="light-blue"></div>
    <div class="clear"></div>
    
  </div>

  <div class="grid-12">
    <!-- PURPLE -->
    <div data-color="purple"></div>
    <div data-color="dark-purple"></div>
    <div data-color="light-purple"></div>
    <div class="clear"></div>
  
    <!-- GREEN -->
    <div data-color="green"></div>
    <div data-color="dark-green"></div>
    <div data-color="light-green"></div>
    <div class="clear"></div>
  
    <!-- ORANGE -->
    <div data-color="orange"></div>
    <div data-color="dark-orange"></div>
    <div data-color="light-orange"></div>
    <div class="clear"></div>
  </div>
  
</article>