<article class="ctn-grid-24">
  <h2>Tables</h2>
  
  <p>You know you hate building table after table styles. You can now use the default tables built into Centurion to fit your color scheme.</p>
  <p>By default the table styles that Centurion uses work out of the box. Create a table and it works with the default grey. To change colors you can specify your own or you can use the ones that come pre-packed based on the <a href="#colors">color scheme</a> above.</p>

  <div class="ctn-grid-12">
  
    <h3>Default Table</h3>
    <p><pre><code> &lt;table&gt; </code></pre></p>
    <table>
    <thead>
      <tr>
        <th colspan="4">Table Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content</td>
        <td>This is longer content</td>
        <td>Content</td>
        <td>Content</td>
      </tr>
      <tr>
        <td>Content</td>
        <td>This is longer content</td>
        <td>Content</td>
        <td>Content</td>
      </tr>
      <tr>
        <td>Content</td>
        <td>This is longer content</td>
        <td>Content</td>
        <td>Content</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">Table Footer</th>
      </tr>
    </tfoot>
  </table>
    <br />
    
    <h3>Orange Table</h3>
    <p><pre><code> &lt;table class="orange-table striped-table"&gt; </code></pre></p>
    <table class="orange-table striped-table">
    <thead>
      <tr>
        <th colspan="4">Table Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content</td>
        <td>This is longer content</td>
        <td>Content</td>
        <td>Content</td>
      </tr>
      <tr>
        <td>Content</td>
        <td>This is longer content</td>
        <td>Content</td>
        <td>Content</td>
      </tr>
      <tr>
        <td>Content</td>
        <td>This is longer content</td>
        <td>Content</td>
        <td>Content</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">Table Footer</th>
      </tr>
    </tfoot>
  </table>
    <br />
    
    <h3>Blue Table</h3>
    <p><pre><code> &lt;table class="blue-table striped-table"&gt; </code></pre></p>
    <table class="blue-table striped-table">
    <thead>
      <tr>
        <th colspan="4">Table Header</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Content</td>
        <td>This is longer content</td>
        <td>Content</td>
        <td>Content</td>
      </tr>
      <tr>
        <td>Content</td>
        <td>This is longer content</td>
        <td>Content</td>
        <td>Content</td>
      </tr>
      <tr>
        <td>Content</td>
        <td>This is longer content</td>
        <td>Content</td>
        <td>Content</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th colspan="4">Table Footer</th>
      </tr>
    </tfoot>
  </table>
    
  </div>
  
  <div class="ctn-grid-12">
  
    <h3>Red Table</h3>
    <p><pre><code> &lt;table class="red-table striped-table"&gt; </code></pre></p>
    <table class="red-table striped-table">
      <thead>
        <tr>
          <th colspan="4">Table Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content</td>
          <td>This is longer content</td>
          <td>Content</td>
          <td>Content</td>
        </tr>
        <tr>
          <td>Content</td>
          <td>This is longer content</td>
          <td>Content</td>
          <td>Content</td>
        </tr>
        <tr>
          <td>Content</td>
          <td>This is longer content</td>
          <td>Content</td>
          <td>Content</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">Table Footer</th>
        </tr>
      </tfoot>
    </table>
    <br />
    
    <h3>Green Table</h3>
    <p><pre><code> &lt;table class="green-table"&gt; </code></pre></p>
    <table class="green-table">
      <thead>
        <tr>
          <th colspan="4">Table Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content</td>
          <td>This is longer content</td>
          <td>Content</td>
          <td>Content</td>
        </tr>
        <tr>
          <td>Content</td>
          <td>This is longer content</td>
          <td>Content</td>
          <td>Content</td>
        </tr>
        <tr>
          <td>Content</td>
          <td>This is longer content</td>
          <td>Content</td>
          <td>Content</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">Table Footer</th>
        </tr>
      </tfoot>
    </table>
    <br />
    
    <h3>Black Table</h3>
    <p><pre><code> &lt;table class="black-table"&gt; </code></pre></p>
    <table class="black-table">
      <thead>
        <tr>
          <th colspan="4">Table Header</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Content</td>
          <td>This is longer content</td>
          <td>Content</td>
          <td>Content</td>
        </tr>
        <tr>
          <td>Content</td>
          <td>This is longer content</td>
          <td>Content</td>
          <td>Content</td>
        </tr>
        <tr>
          <td>Content</td>
          <td>This is longer content</td>
          <td>Content</td>
          <td>Content</td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th colspan="4">Table Footer</th>
        </tr>
      </tfoot>
    </table>
  
  </div>
  
</article>