<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  
  <title>Feed Layout | Centurion Framework</title>
  
  
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"/>

  <meta property="og:title" content="Centurion Framework | A Responsive Framework"/>
  <meta property="og:site_name" content="Centurion Framework"/>
  <meta property="og:description" content="Centurion is built to be responsive at its core."/>
  <meta property="og:url" content="http://www.centurionframework.com/"/>
  <meta property="og:image" content="img/apple-touch-icon-114x114.png"/>

  <link rel="apple-touch-icon" sizes="57x57" href="img/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="img/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="img/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="img/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="img/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="img/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="img/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="img/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="img/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192"  href="img/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="img/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="img/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
  <link rel="manifest" href="img/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="img/ms-icon-144x144.png">
  <meta name="theme-color" content="#ffffff">

  <!-- Centurion Framework -->
  <link rel="stylesheet" href="/css/grid.css" />
  <link rel="stylesheet" href="/css/custom.css" />
  <!-- End of Framework -->

  
</head>
<body class="show-layout">

  <header>
  <div class="ctn-container">
    <div class="ctn-row">
      <div class="ctn-grid-12 ctn-tablet-6">
        <h1 id="layout-logo">Logo</h1>
      </div>
      <div class="ctn-grid-12 ctn-tablet-6">
        <nav id="main" class="mobile"style="float:right;">
          <a href="#" class="nav-current">Page</a>
          <a href="#">Page</a>
          <a href="#">Page</a>
        </nav>
      </div>
    </div>
  </div>
</header>
  
  <div class="ctn-container">
    <div class="ctn-row">
    
      <section class="ctn-grid-18">
        
        <div class="ctn-row">
          <div class="ctn-grid-2 ctn-tablet-2 ctn-mobile-1">
            <div class="layout-box"></div>
          </div>
          <div class="ctn-grid-22 ctn-tablet-10 ctn-mobile-5">
            <div class="layout-box"></div>
          </div>
        </div>
        <!--// end row -->
        
        <div class="ctn-row">
          <div class="ctn-grid-2 ctn-tablet-2 ctn-mobile-1">
            <div class="layout-box"></div>
          </div>
          <div class="ctn-grid-22 ctn-tablet-10 ctn-mobile-5">
            <div class="layout-box"></div>
          </div>
        </div>
        <!--// end row -->
        
        <div class="ctn-row">
          <div class="ctn-grid-2 ctn-tablet-2 ctn-mobile-1">
            <div class="layout-box"></div>
          </div>
          <div class="ctn-grid-22 ctn-tablet-10 ctn-mobile-5">
            <div class="layout-box"></div>
          </div>
        </div>
        <!--// end row -->
        
        <div class="ctn-row">
          <div class="ctn-grid-2 ctn-tablet-2 ctn-mobile-1">
            <div class="layout-box"></div>
          </div>
          <div class="ctn-grid-22 ctn-tablet-10 ctn-mobile-5">
            <div class="layout-box"></div>
          </div>
        </div>
        <!--// end row -->
        
        <div class="ctn-row">
          <div class="ctn-grid-2 ctn-tablet-2 ctn-mobile-1">
            <div class="layout-box"></div>
          </div>
          <div class="ctn-grid-22 ctn-tablet-10 ctn-mobile-5">
            <div class="layout-box"></div>
          </div>
        </div>
        <!--// end row -->
        
        <div class="ctn-row">
          <div class="ctn-grid-2 ctn-tablet-2 ctn-mobile-1">
            <div class="layout-box"></div>
          </div>
          <div class="ctn-grid-22 ctn-tablet-10 ctn-mobile-5">
            <div class="layout-box"></div>
          </div>
        </div>
        <!--// end row -->
        <div class="ctn-row">
          <div class="ctn-grid-2 ctn-tablet-2 ctn-mobile-1">
            <div class="layout-box"></div>
          </div>
          <div class="ctn-grid-22 ctn-tablet-10 ctn-mobile-5">
            <div class="layout-box"></div>
          </div>
        </div>
        <!--// end row -->
        
      </section>
    
      <aside class="ctn-grid-3 ctn-first ctn-tablet-center">
        <div class="ctn-row">
          <div class="layout-tall"></div>
        </div>
      </aside>
    
      <aside class="ctn-grid-3">
        <div class="ctn-row">
          <div class="layout-tall"></div>
        </div>
      </aside>
    
    </div>
  </div>
  
  
  <footer>
  <div class="ctn-container">
    <div class="ctn-row">
      <div class="ctn-grid-24">
        <div class="layout-box"></div>
        <p>&copy; <script>new Date().getFullYear()>2010&&document.write(new Date().getFullYear());</script> Centurion Framework.</p>
      </div>
    </div>
  </div>
</footer>

<script src="http://localhost:35729/livereload.js"></script>
  
</body>
</html>
