/* Alerts */
.alert.error p {
  color: white;
}

.alert {
  background: #cccccc;
  border: 1px solid #cccccc;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  border-radius: 4px 4px;
  box-shadow: 2px 2px 5px #cccccc;
  color: white;
  margin: 15px 0;
  padding: 10px 20px;
}
.alert p {
  margin-bottom: 0;
}
.alert .close {
  cursor: pointer;
  font-size: 1em;
  font-weight: normal;
  top: 5px;
  right: 10px;
}
.alert.error {
  background: #ff3019;
  border: 1px solid #ff3019;
}
.alert.warning {
  background: #febf04;
  border: 1px solid #febf04;
}
.alert.info {
  background: #a7cfdf;
  border: 1px solid #a7cfdf;
}
.alert.success {
  background: #a4b357;
  border: 1px solid #a4b357;
}
