
/* Breadrumbs */
ul.cCrumbs {
  display: block;
  background: #999999;
  padding: 7px 10px;
  border: 1px solid #cccccc;
  border-radius: 2px;
  overflow: hidden;
}
ul.cCrumbs li {
  margin: 0;
  padding: 0 10px 0 0;
  display: inline-block;
}
ul.cCrumbs li a,
ul.cCrumbs li span {
  text-transform: uppercase;
  font-size: 0.8em;
  padding-right: 10px;
}
ul.cCrumbs li:after {
  content: ">";
  color: #cccccc;
}
ul.cCrumbs li:last-child:after {
  content: "";
}

