/* Buttons */
.button {
  border: none;
  -webkit-border-radius: 5px 5px;
  -moz-border-radius: 5px 5px;
  -ms-border-radius: 5px 5px;
  -o-border-radius: 5px 5px;
  border-radius: 5px 5px;
  -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  background: #7d7e7d;
  background: -moz-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #7d7e7d), color-stop(100%, #0e0e0e));
  background: -webkit-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -o-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: -ms-linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  background: linear-gradient(top, #7d7e7d 0%, #0e0e0e 100%);
  color: white;
  display: inline-block;
  font-size: 1em;
  font-weight: bold;
  margin: 15px 0;
  outline: 0;
  padding: 10px 22px;
  vertical-align: middle;
  zoom: 1;
}
.button:hover, .button:active, .button:visited {
  color: white;
  background: #9b9b9b;
  background: -moz-linear-gradient(top, #9b9b9b 0%, #3d3d3d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9b9b9b), color-stop(100%, #3d3d3d));
  background: -webkit-linear-gradient(top, #9b9b9b 0%, #3d3d3d 100%);
  background: -o-linear-gradient(top, #9b9b9b 0%, #3d3d3d 100%);
  background: -ms-linear-gradient(top, #9b9b9b 0%, #3d3d3d 100%);
  background: linear-gradient(top, #9b9b9b 0%, #3d3d3d 100%);
}
.button.grey {
  color: #555555;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #e5e5e5));
  background: -webkit-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: -o-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: -ms-linear-gradient(top, white 0%, #e5e5e5 100%);
  background: linear-gradient(top, #ffffff 0%, #e5e5e5 100%);
}
.button.grey:hover, .button.grey:active, .button.grey:visited {
  color: #555555;
  background: white;
  background: -moz-linear-gradient(top, white 0%, #b7b7b7 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, white), color-stop(100%, #b7b7b7));
  background: -webkit-linear-gradient(top, white 0%, #b7b7b7 100%);
  background: -o-linear-gradient(top, white 0%, #b7b7b7 100%);
  background: -ms-linear-gradient(top, white 0%, #b7b7b7 100%);
  background: linear-gradient(top, #ffffff 0%, #b7b7b7 100%);
}
.button.blue {
  background: #a7cfdf;
  background: -moz-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7cfdf), color-stop(100%, #23538a));
  background: -webkit-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: -o-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: -ms-linear-gradient(top, #a7cfdf 0%, #23538a 100%);
  background: linear-gradient(top, #a7cfdf 0%, #23538a 100%);
}
.button.blue:hover, .button.blue:active, .button.blue:visited {
  background: #a7cfdf;
  background: -moz-linear-gradient(top, #a7cfdf 0%, #004089 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a7cfdf), color-stop(100%, #004089));
  background: -webkit-linear-gradient(top, #a7cfdf 0%, #004089 100%);
  background: -o-linear-gradient(top, #a7cfdf 0%, #004089 100%);
  background: -ms-linear-gradient(top, #a7cfdf 0%, #004089 100%);
  background: linear-gradient(top, #a7cfdf 0%, #004089 100%);
}
.button.red {
  background: #ff3019;
  background: -moz-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3019), color-stop(100%, #cf0404));
  background: -webkit-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -o-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: -ms-linear-gradient(top, #ff3019 0%, #cf0404 100%);
  background: linear-gradient(top, #ff3019 0%, #cf0404 100%);
}
.button.red:hover, .button.red:active, .button.red:visited {
  background: #ff3819;
  background: -moz-linear-gradient(top, #ff3819 0%, #aa0303 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ff3819), color-stop(100%, #aa0303));
  background: -webkit-linear-gradient(top, #ff3819 0%, #aa0303 100%);
  background: -o-linear-gradient(top, #ff3819 0%, #aa0303 100%);
  background: -ms-linear-gradient(top, #ff3819 0%, #aa0303 100%);
  background: linear-gradient(top, #ff3819 0%, #aa0303 100%);
}
.button.yellow {
  color: #555555;
  background: #fced62;
  background: -moz-linear-gradient(top, #fced62 0%, #febf04 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fced62), color-stop(100%, #febf04));
  background: -webkit-linear-gradient(top, #fced62 0%, #febf04 100%);
  background: -o-linear-gradient(top, #fced62 0%, #febf04 100%);
  background: -ms-linear-gradient(top, #fced62 0%, #febf04 100%);
  background: linear-gradient(top, #fced62 0%, #febf04 100%);
}
.button.yellow:hover, .button.yellow:active, .button.yellow:visited {
  color: #555555;
  background: #fced62;
  background: -moz-linear-gradient(top, #fced62 0%, #ffaa00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fced62), color-stop(100%, #ffaa00));
  background: -webkit-linear-gradient(top, #fced62 0%, #ffaa00 100%);
  background: -o-linear-gradient(top, #fced62 0%, #ffaa00 100%);
  background: -ms-linear-gradient(top, #fced62 0%, #ffaa00 100%);
  background: linear-gradient(top, #fced62 0%, #ffaa00 100%);
}
.button.orange {
  background: #ffa84c;
  background: -moz-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa84c), color-stop(100%, #ff7b0d));
  background: -webkit-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
  background: -o-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
  background: -ms-linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
  background: linear-gradient(top, #ffa84c 0%, #ff7b0d 100%);
}
.button.orange:hover, .button.orange:active, .button.orange:visited {
  background: #ffa84c;
  background: -moz-linear-gradient(top, #ffa84c 0%, #fc6000 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffa84c), color-stop(100%, #fc6000));
  background: -webkit-linear-gradient(top, #ffa84c 0%, #fc6000 100%);
  background: -o-linear-gradient(top, #ffa84c 0%, #fc6000 100%);
  background: -ms-linear-gradient(top, #ffa84c 0%, #fc6000 100%);
  background: linear-gradient(top, #ffa84c 0%, #fc6000 100%);
}
.button.green {
  background: #a4b357;
  background: -moz-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a4b357), color-stop(100%, #75890c));
  background: -webkit-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: -o-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: -ms-linear-gradient(top, #a4b357 0%, #75890c 100%);
  background: linear-gradient(top, #a4b357 0%, #75890c 100%);
}
.button.green:hover, .button.green:active, .button.green:visited {
  background: #a4b357;
  background: -moz-linear-gradient(top, #a4b357 0%, #5b7a00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a4b357), color-stop(100%, #5b7a00));
  background: -webkit-linear-gradient(top, #a4b357 0%, #5b7a00 100%);
  background: -o-linear-gradient(top, #a4b357 0%, #5b7a00 100%);
  background: -ms-linear-gradient(top, #a4b357 0%, #5b7a00 100%);
  background: linear-gradient(top, #a4b357 0%, #5b7a00 100%);
}
.button.small {
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px 4px;
  -ms-border-radius: 4px 4px;
  -o-border-radius: 4px 4px;
  border-radius: 4px 4px;
  font-size: 0.85em;
  padding: 8px 18px;
}
.button.large {
  -webkit-border-radius: 6px 6px;
  -moz-border-radius: 6px 6px;
  -ms-border-radius: 6px 6px;
  -o-border-radius: 6px 6px;
  border-radius: 6px 6px;
  font-size: 1.3em;
  padding: 8px 28px;
}
.button.full {
  padding: 10px 0;
  text-align: center;
  width: 100%;
}

a.button {
  color: white;
}
a.button:visited {
  color: white;
}

