/* Code  */
code, pre {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 0.9em;
  padding: 0.1em 0.2em;
}

code {
  border: 1px solid #999999;
  color: #cccccc;
  white-space: nowrap;
}

pre {
  display: block;
  line-height: 1.5;
  padding: 0.8em;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}

