nav ul, nav ul li, .tabBox .tabs li, ul {
  margin: 0;
  padding: 0;
}

.alert .close {
  position: absolute;
}

.alert, nav ul li {
  position: relative;
}

.button, a.button, nav ul li a {
  text-decoration: none;
}

.button {
  cursor: pointer;
}

img.lfloat, nav, .pagination, .pagination ul li, .tabBox .tabs li {
  float: left;
}

img.rfloat {
  float: right;
}


nav ul, .tabBox [class*="tabs"]::before, .tabBox [class*="tabs"]::after, .tabBox .tabs li a, .tabBox .innerBox, .hide-mobile {
  display: block;
}

.hide-desktop {
  display: none;
}
