/* Images */
img.rfloat {
  margin: 0 0 15px 15px;
}

img.lfloat {
  margin: 0 15px 15px 0;
}

img.rfloat.frame,
img.lfloat.frame,
img.frame {
  border: 1px solid #cccccc;
  padding: 5px;
}

img.responsive {
  height: auto;
  width: 100%;
}

