/* Navigation */
nav {
  font-size: 1em;
  width: 100%;
}
nav ul {
  display: inline;
}
nav ul li {
  display: inline;
}
nav ul li a {
  color: #333333;
  display: inline-block;
  margin: 0;
  padding: 5px;
}
nav ul li a:visited {
  color: black;
}
nav ul li a:hover, nav ul li a.on {
  color: #a4b357;
}
nav.stacked {
  width: 100%;
}
nav.stacked ul {
  float: none;
}
nav.stacked ul li {
  border-bottom: 1px solid #999999;
  width: 100%;
}
nav.stacked ul li a {
  padding: 15px 0;
  text-indent: 1.5em;
  width: 100%;
}
nav.stacked ul li a:hover {
  background: #ededed;
}

