/* Pagination */
.pagination {
  margin: 10px 0;
  width: 100%;
}
.pagination ul {
  margin: 0;
  padding: 0;
}
.pagination ul li {
  display: inline-block;
  list-style: none;
  margin: 0;
}
.pagination ul li a {
  background: green;
  display: block;
  padding: 4px 0 6px 0;
  text-align: center;
  vertical-align: middle;
  width: 32px;
  text-decoration: none;
}
.pagination ul li a:hover {
  background: blue;
}

