/* Tables */
table {
  background: white;
  border-collapse: collapse;
  border-spacing: 0;
  color: #333333;
  margin: 15px 0;
  width: 100%;
}

thead,
tfoot {
  font-size: 1em;
  line-height: 1.5;
  padding: 5px 10px;
  text-align: left;
}
thead tr th,
thead tr td,
tfoot tr th,
tfoot tr td {
  background-color: #999999;
  color: white;
  font-weight: bold;
  padding: 5px 10px;
}

tbody tr,
tbody td {
  padding: 5px 10px;
}
tbody tr.odd {
  background-color: white;
}
tbody tr.even {
  background-color: #ededed;
}

.orange-table thead tr th,
.orange-table thead tr td,
.orange-table tfoot tr th,
.orange-table tfoot tr td {
  background-color: #fb9d23;
}
.orange-table tbody tr.odd {
  background-color: white;
}
.orange-table tbody tr.even {
  background-color: #fceabb;
}

.blue-table thead tr th,
.blue-table thead tr td,
.blue-table tfoot tr th,
.blue-table tfoot tr td {
  background-color: #356aa0;
}
.blue-table tbody tr.odd {
  background-color: white;
}
.blue-table tbody tr.even {
  background-color: #deefff;
}

.yellow-table thead tr th,
.yellow-table thead tr td,
.yellow-table tfoot tr th,
.yellow-table tfoot tr td {
  background-color: #f8b500;
}
.yellow-table tbody tr.odd {
  background-color: white;
}
.yellow-table tbody tr.even {
  background-color: #fcefcf;
}

.red-table thead tr th,
.red-table thead tr td,
.red-table tfoot tr th,
.red-table tfoot tr td {
  background-color: #cc0000;
}
.red-table tbody tr.odd {
  background-color: white;
}
.red-table tbody tr.even {
  background-color: #ffcece;
}

.green-table thead tr th,
.green-table thead tr td,
.green-table tfoot tr th,
.green-table tfoot tr td {
  background-color: #299a0b;
}
.green-table tbody tr.odd {
  background-color: white;
}
.green-table tbody tr.even {
  background-color: #dde8c7;
}

.black-table thead tr th,
.black-table thead tr td,
.black-table tfoot tr th,
.black-table tfoot tr td {
  background-color: black;
}
.black-table tbody tr.odd {
  background-color: white;
}
.black-table tbody tr.even {
  background-color: #dbdbdb;
}

.rounded thead th:first-child {
  border-radius: 6px 0 0 0;
}
.rounded thead th:last-child {
  border-radius: 0 6px 0 0;
}
.rounded tfoot th:first-child {
  border-radius: 0 0 6px 0;
}
.rounded tfoot th:last-child {
  border-radius: 0 0 0 6px;
}

