/* Tabs */
.tabBox {
  margin: 20px 0;
  position: relative;
}
.tabBox [class*="tabs"]::before, .tabBox [class*="tabs"]::after {
  line-height: 0;
  content: "";
}
.tabBox [class*="tabs"]::after {
  clear: both;
}
.tabBox .tabs {
  border-bottom: 1px solid #cccccc;
  margin-bottom: 0;
  width: 100%;
}
.tabBox .tabs li {
  border: 1px solid transparent;
  list-style: none;
  margin-bottom: -1px;
}
.tabBox .tabs li:first-child {
  margin-left: 0;
}
.tabBox .tabs li a {
  padding: 6px 18px;
}
.tabBox .tabs li a:hover {
  background: #ededed;
}
.tabBox .tabs .active {
  border: none;
  bottom: -1px;
  position: relative;
}
.tabBox .tabs .active a, .tabBox .tabs .active a:hover {
  background: white;
  color: #555555;
  border: 1px solid #cccccc;
  border-bottom-color: transparent;
  text-decoration: none;
}
.tabBox .innerBox {
  border: 1px solid #cccccc;
  border-top: none;
  padding: 10px 20px;
}
.tabBox .innerBox p {
  width: 100%;
}

.tabBottom {
  margin-bottom: 60px;
  /*  TABS BOTTOM */
}
.tabBottom .tabs {
  border-bottom: none;
  border-top: 1px solid #cccccc;
  position: absolute;
  bottom: -35px;
  left: 0;
}
.tabBottom .tabs .active {
  top: -1px;
}
.tabBottom .tabs .active a,
.tabBottom .tabs .active a:hover {
  border-bottom-color: #cccccc;
  border-top-color: transparent;
}
.tabBottom .innerBox {
  border: 1px solid #cccccc;
  border-bottom: none;
}

