/* Tooltips */
a.tooltip,
a.tipHover {
  color: #a4b357;
  cursor: pointer;
  text-decoration: underline;
  display: inline-block;
  height: 20px;
  position: relative;
}
a.tooltip:hover,
a.tipHover:hover {
  color: black;
  text-decoration: underline;
}

.theTooltip {
  bottom: 20px;
  color: #a4b357;
  display: none;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 250px;
  z-index: 9999;
}
.theTooltip .tipBody {
  background: white;
  border: 2px solid #ededed;
  color: black;
  padding: 15px;
}
.theTooltip .arrow-up {
  display: none;
}
.theTooltip .arrow-down {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #ededed;
  left: 15px;
  position: relative;
}

.tipBottom .theTooltip {
  left: 0;
  bottom: -110px;
}
.tipBottom .theTooltip .arrow-down {
  display: none;
}
.tipBottom .theTooltip .arrow-up {
  display: block;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #ededed;
  left: 15px;
  position: relative;
}

.tooltip.on .theTooltip {
  display: block;
}

