/*  Typography  */
h1, h2, h3, h4, h5, h6, p, blockquote, article, section {
  color: #555555;
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  margin: 15px 0;
}

h1, h2, h3 {
  font-weight: bold;
}

h1 {
  font-size: 1.8em;
}

h2 {
  font-size: 1.6em;
}

h3 {
  font-size: 1.4em;
}

h4, h5, h6 {
  font-size: 1.2em;
}

blockquote {
  border-left: 5px solid #999999;
  text-align: left;
}
blockquote.right {
  text-align: right;
}
blockquote.right small {
  text-align: right;
}
blockquote p {
  text-color: #333333;
}
blockquote small {
  text-align: left;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

big, .big {
  font-size: 1.7em;
}

small, .small {
  font-size: 0.7em;
}

.left-text {
  text-align: left;
}

.center-text {
  text-align: center;
}

.right-text {
  text-align: right;
}

.mute-text {
  color: #999999;
}

.warning-text {
  color: #febf04;
}

.error-text {
  color: #ff3019;
}

.success-text {
  color: #a4b357;
}

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted #999999;
}

cite {
  font-style: normal;
}

a {
  color: #ffa84c;
  white-space: pre;
  white-space: pre-wrap;
  white-space: pre-line;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -hp-pre-wrap;
  word-wrap: break-word;
}
a:hover {
  color: black;
}
a:visited {
  color: #ffa84c;
}

ul {
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  color: #555555;
}
ul.no-style li {
  list-style: none;
}
ul.inline li {
  display: inline-block;
}
ul li {
  font-size: 1em;
  list-style: circle;
  margin-left: 20px;
}

