<!DOCTYPE HTML>
<html>
<head>
	<title>{{ page.title }} | Centurion - A CSS Web Framework</title>

  {% include styles.html %}
  {% include ga.html %}

</head>
<body>

  {% include header.html %}
	
  <section id="headline">
    <div class="container">
    	<article class="grid-100">
    		<h1>{{ page.title }}</h1>
    	</article>
    </div>
  </section>
	
	<section id="{{ page.section }}">
		<div class="container">
		        
      {{ content }}
      
      <div class="clear"></div>

		</div>
	</section>

	{% include footer.html %}
	{% include scripts.html %}
	<!--

	{{ if page.section == "features" }}
  {% include features-script.html %}
	{{ endif }}
	
	{{ if page.section == "grid" }}
  {% include grid-script.html %}
	{{ endif }}
	
-->
	
	<!-- DownloadBuilder.js -->
  <script src="js/download-builder.js"></script>
  <script type="text/javascript">
	  $(function() {
      $("a[href='#']").click(function(event) {
        event.preventDefault();
      });
    
      $(".toggle-all").on("click", function() {
        $(this).parent().parent().find('input[type="checkbox"]').not(":disabled").each(function() {
          $(this).attr("checked", !$(this).attr("checked"));
        });
      });
    
      var builder = new DownloadBuilder();
      $("#css-generate").on("click", function() {
        builder.buildURL($("#css-downloads input[type='checkbox']:checked"), "centurion.3.3.css", "css", function(data) {
          $("#generated-css-source").text(data.content);
          if(!data.content) {
            $("#css-download").fadeOut("slow");
          }
          if(data.url) {
            $("#css-download").attr("href", data.url).fadeIn("slow");
          }
        });
      });
      
      $("#js-generate").on("click", function() {
        builder.buildURL($("#js-downloads input[type='checkbox']:checked"), "centurion.3.3.js", "js", function(data) {
          $("#generated-js-source").text(data.content);
          if(!data.content) {
            $("#js-download").fadeOut("slow");
          }
          if(data.url) {
            $("#js-download").attr("href", data.url).fadeIn("slow");
          }
        });
      });
      
    });
	</script>
	
</body>
</html>
