<!DOCTYPE HTML>
<html>
<head>
	<title>{{ page.title }} | Centurion - A CSS Web Framework</title>

  {% include styles.html %}
  {% include ga.html %}

</head>
<body>

  {% include header.html %}
	
  <section id="headline">
    <div class="container">
    	<article class="grid-12">
    		<h1>{{ page.title }}</h1>
    	</article>
    </div>
  </section>
	
	<section id="{{ page.section }}">
		<div class="container">
		
        
        {{ content }}
        
    
		
      <div class="clear"></div>
		</div>
	</section>

	{% include footer.html %}
	{% include scripts.html %}
	
	{{ if page.section == "features" }}
  {% include features-script.html %}
	{{ endif }}
	
	{{ if page.section == "grid" }}
  {% include grid-script.html %}
	{{ endif }}
	
	
</body>
</html>
