<!DOCTYPE HTML>
<html>
<head>
	<title>{{ page.title }}</title>

  {% include styles.html %}
  
  {% include ga.html %}

</head>
<body>

  {% include header.html %}
	
	<section id="tour">
		<div class="container">
			<article class="grid-55 center-grid">
				<h1>Centurion</h1>
				
				<h2 class="hide-mobile">A streamlined and powerful web framework for responsive web sites.</h2>
				<h2 class="hide-desktop">A responsive web framework for your mobile device.</h2>
			</article>
			<article class="grid-60 center-grid">
				<div id="download" class="hide-mobile">
				  <div class="grid-50">
				    <a href="https://github.com/jhough10/Centurion/archive/master.zip" class="button large rust" onClick="_gaq.push(['_trackEvent', 'Downloads', 'Desktop Download', 'Centurion Framework Download']);">Download</a>
				  </div>
				  <div class="grid-50">
				    <a href="https://github.com/jhough10/Centurion/" class="button large light-blue" onClick="_gaq.push(['_trackEvent', 'Fork Repo', 'Dekstop', 'Centurion Framework Fork Repo']);">Fork the Repo</a>
				  </div>
				</div>  
				  
				<div id="download" class="hide-desktop">
				  <!-- mobile button -->
				  <a href="https://github.com/jhough10/Centurion/" class="button large rust" onClick="_gaq.push(['_trackEvent', 'Fork Repo', 'Mobile', 'Centurion Framework Fork Repo']);">Fork the Repo</a>
				  </div>
			</article>

		</div>
	</section>
	<section id="primary">
		<div class="container">
		
		  <section class="grid-100">
        
        {{ content }}
        
        <div class="clear"></div>
		  </section>
		  

		</div>
	</section>


	{% include footer.html %}
	
	
	{% include scripts.html %}

	
</body>
</html>
