h1, h2, h3, h4, p, ul li, ol li {
  font-family: 'Open Sans', sans-serif;
}
p {
  margin: 10px 0;
}
img,
iframe,
video {
  width: 100%;
}
a.github {
  background: url('https://s3.amazonaws.com/github/ribbons/forkme_right_gray_6d6d6d.png');
  display: block;
  position: absolute; 
  top: 0;
  right: 0;
  border: 0;
  width: 149px;
  height: 149px;
}

/* NAV UPDATES 
============================
TOP: #FAFAFA;
BOTTOM: #EAEAEA;
============================ */


/* HEADER
============================ */
header {
  background: url(../graphics/blackorchid.png);
}
header section {
  margin: 0;
}
header article {
  margin-top: 0;
  margin-bottom: 0;
}
header #logo {
  color: #FFF;
  float:left;
  font-size: 22px;
  font-weight: bold;
  line-height: 1;
  margin: 0;
}
header #logo:hover {
  color: #5b7a00;
  text-decoration: none;
}
header nav {
  border: none;
  margin-bottom: 0;
  padding: 0;
}
header nav ul {}
header nav ul li {
  margin-right: 40px;
}
header nav ul li a,
header nav ul li a:visited {
  color: #FFF;
  padding: 15px 0;
}
header nav ul li a:hover {
  background: none;
  color: #5b7a00;
}
/*header .button {
  float: right;
  margin: 10px 0;
}*/

/* PRODUCT TOUR 
============================ */
#tour {
  background: url(../graphics/noisy_grid.png);
  box-shadow: inset -1px 3px 8px #333;
  margin: 0;
  padding: 40px 0;
}
#tour h1 {
  font-size: 55px;
  text-align: center;
}
#tour p {
  text-align: center;
}
#tour #download {
  margin: 20px 0;
}
#tour #download .button {
  padding: 14px 30px;
}


/* HEADLINE
============================ */
#headline {
  background: url(../graphics/noisy_grid.png);
  box-shadow: inset -1px 3px 8px #333;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 20px 0;
}
#headline h1 {
  font-size: 38px;
  text-align: left;
}


/* PRIMARY
============================ */
#primary {
  background: #FFF;
  /*background: url(../graphics/grey.png);*/
  box-shadow: inset -1px 2px 8px #DDD;
  margin: 0;
  padding: 20px 0 0 0;
}

#primary .grid-4 p {
  text-align: center;
}

#primary .cPanel p {
  text-align: left;
}
#features {
  padding-bottom: 40px;
}

#grid {
  padding-bottom: 40px;
}

code {
  background: #EDEDED;
  display: block;
  font-size: 12px;
  padding: 10px;
  margin: 10px 0;
}

/* GRID */
#grid [class*="grid-"] p {
  background: #ededed;
  border: 1px solid #888888;
  color: #333333;
  font-size: 0.8em;
  padding: 5px;
  margin-bottom: 0;
  text-align: center;
}
#grid p.noStyle {
  border: none;
  background: none;
  color: #333333;
  font-size: 16px;
  padding: 0;
  text-align: left;
}
#grid [class*="pull-"] p {
  background: lightpink;
}
#grid [class*="push-"] p {
  background: lightgreen;
}

.feature {
  color: #5b7a00;
  font-size: 5em;
  text-align: center;
  text-shadow: 0 0 2px #555;
}
.featurePage {
  color: #5b7a00;
  font-size: 7.5em;
  text-align: center;
  text-shadow: 2px 2px 6px #888;
}

/* FOOTER
============================ */
footer {
  /*background: url(../graphics/blackorchid.png);*/
  background: url(../graphics/wild_oliva.png);
  padding: 20px 0 20px;
  margin: 0 0 0 0;
}
footer p {
  color: #FFF;
  font-size: 12px;
  text-align: center;
}