// Fonts
$font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
$default-font-size: 16
$default-line-height: 1

$ie7-support: false

// Centurion - Grid Config
$content-width: 1100
$inner-width: 98
$gutter: 20

$tablet-content-width: 961
$mobile-content-width: 481

$desktop-columns: 24
$tablet-columns: 12
$mobile-columns: 6

$grid-class: grid
$tablet-grid-class: tablet
$mobile-grid-class: mobile

$push-class: push
$pull-class: pull


// Centurion - Language Support
$lang-front: left
$direction: $lang-front
$value: px


// Centurion Layout
$margin-top: helmet
$margin-bottom: sandal
$margin-both: armor

$padding-top: pad-helmet
$padding-bottom: pad-sandal
$padding-both: pad-armor



// Centurion Colors
$white: #FFF
$black: #000

$off-white: #EFEFEF

$grey: #999
$light-grey: #CCC
$lighter-grey: #DDD
$dark-grey: #555
$darker-grey: #333

$red: #CC583A
$dark-red: darken($red, 20%)
$light-red: lighten($red, 30%)

$blue: #272D7F
$dark-blue: darken($blue, 20%)
$light-blue: lighten($blue, 30%)

$purple: #7F4D7B
$dark-purple: darken($purple, 20%)
$light-purple: lighten($purple, 30%)

$green: #277F35
$dark-green: darken($green, 20%)
$light-green: lighten($green, 30%)

$orange: #FE9300
$dark-orange: darken($orange, 20%)
$light-orange: lighten($orange, 30%)


// Prefixes
$prefixes: -webkit -moz -o