%typography
  color: #333
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif
  -webkit-font-smoothing: antialiased
  font-weight: 300
  line-height: 1.5
  margin-top: 0
  text-align: left
  
strong
  font-weight: bold
em
  font-style: italics

h1
  @extend %typography
  @extend strong
  font-size: 2em
  margin: 0.67em 0

h2
  @extend %typography
  @extend strong
  font-size: 1.5em
  margin: 0.83em 0

h3
  @extend %typography
  @extend strong
  font-size: 1.17em
  margin: 1em 0

h4
  @extend %typography
  @extend strong
  font-size: 1em
  margin: 1.33em 0

h5
  @extend %typography
  @extend strong
  font-size: 0.83em
  margin: 1.67em 0

h6
  @extend %typography
  @extend strong
  font-size: 0.75em
  margin: 2.33em 0

p
  @extend %typography
  font-size: 1em
  margin: 1.33em 0

ul
  padding-left: 1.5em
  
li
  @extend %typography
  font-size: 1em
  margin: 0
  padding-left: 0.5em
  
.text-large
  font-size: 1.2em

.text-small
  font-size: 0.8em

.text-muted
  color: #CCC !important